<div class="input" id="location-container">
  <label>Location</label>
  <div class="location-input" ng-class="{text: $ctrl.locationName}">
    <input type="text"
           ng-model="$ctrl.locationName"
           ng-change="$ctrl.getLocation($ctrl.locationName)"
           ng-class="{error: $ctrl.locationError}"
           ng-blur="$ctrl.validate({location: $ctrl.location})"
           class="first"
           minlength="2">
    <ul ng-if="$ctrl.locations" class="location-drop">
      <li ng-repeat="location in $ctrl.locations" ng-click="$ctrl.setLocation(location)">
        {{location.formatted_address}}
      </li>
    </ul>
    <md-button ng-show="$ctrl.locationName"
               ng-click="$ctrl.clearLocation()"
               aria-label="remove">
    </md-button>
    <md-progress-linear ng-show="$ctrl.loading" class="animated fadeIn"></md-progress-linear>
  </div>
  <span class="error" ng-if="$ctrl.locationError">
    {{$ctrl.locationError}}
  </span>
</div>
