<div layout-gt-sm="row" class="animated fadeIn history-order-detail-page">
  <div class="history-container" flex="50">
    <h1 class="page-name">Orders</h1>

    <div class="minx-back">
      <button ui-sref="ordersHistoryPages({type: $ctrl.type})">
        Other MINX
        <span ng-show="$ctrl.order.entertainers_number">
          ({{::$ctrl.order.entertainers_number}})
        </span>
      </button>
    </div>

    <div class="minx-list">
      <div style="color: #747984;margin: 16px;">
        ONLY TEXT MESSAGES ARE AVAILABLE
      </div>
      <invite-description ng-repeat="invite in ::$ctrl.order.invites track by $index"
                          invite="invite" hide-button="$ctrl.isHistory"></invite-description>
    </div>
  </div>
</div>
