<div id="orders" class="admin__page admin__page_orders">


	<div 
		layout="column"
		layout-align="end"
		class="admin__header">
		<span class="admin__page-name">Orders</span>		
	</div>


	<div 
		class="admin__manip-row"
		layout="row">
		<div 
			class="admin__manip-section"
			flex="40"
			layout="column">
			<label for="search" class="admin__manip-label">Search</label>
			<input 
				type="text" 
				name="search" 
				class="admin__manip-field admin__manip-text" 
				placeholder="Enter name, email or location" 
				ng-model="vm.manip.search">
		</div>		
		<div 
			class="admin__manip-section"
			flex="40"
			layout="column">
			<label for="typeOfService" class="admin__manip-label">Type of service</label>
      <md-select 
      	ng-model="vm.manip.typeOfServiceSelected" 
      	placeholder="All" 
      	class="admin__manip-field select-container_admin">
        <md-option ng-repeat="type in vm.typesOfService track by $index" value="{{type.type}}">{{type.name}}</md-option>
      </md-select>			
		</div>
		<div 
			class="admin__manip-section"
			flex="40"
			layout="column">
      <label for="dateFrom" class="admin__manip-label">Creation dates</label>
     	<div layout="row" class="admin__manip-field">
	      <md-datepicker
	      							class="admin__datepicker" 
	      							ng-model="vm.manip.dateFr"
	                    md-hide-icons="triangle"
	                    aria-readonly="true"
	                    name="dateFrom">
	      </md-datepicker>
	      <md-datepicker
	      							class="admin__datepicker"
	      							ng-model="vm.manip.dateTo"
	                    md-hide-icons="triangle"
	                    aria-readonly="true"
	                    name="dateFrom">
	      </md-datepicker>
	    </div>
		</div>
	</div>


	<div class="orders-content" layout="row">
		<div class="orders-list" flex="30">
			<div 
				class="order"
				layout="column"
				infinite-scroll="vm.fetchMoreItems()" 
	    	infinite-scroll-disabled='vm.isOnProgress || vm.isLastPage'
	    	ng-repeat="order in vm.OrdersService.list"
	    	ng-click="vm.activeOrderIndex = $index;">
				<span class="order-param order-param_date">{{order.datetime | date}}</span>
				<span class="order-param order-param_name">{{order.customer.first_name + order.customer.last_name}}</span>
			</div>
		</div>
		
		<div flex="70">
			<table 
				class="admin__table admin__table_orders table_admin">
				<tr 
					class="table_admin__row table_admin__row_start">
					<th class=" table_admin__cell table_admin__cell_header" colspan="4">General Information</th>
				</tr>
				<tr class="table_admin__row">
					<td class="table_admin__cell table_admin__cell_label">Creation date</td>
					<td class="table_admin__cell table_admin__cell_label">Location</td>
					<td class="table_admin__cell table_admin__cell_label">Apartment</td>
					<td class="table_admin__cell table_admin__cell_label">Location Notes</td>
				</tr>
				<tr class="table_admin__row">
					<td class="table_admin__cell">{{order.date}}</td>
					<td class="table_admin__cell">{{order.location}}</td>
					<td class="table_admin__cell">{{order.apartment}}</td>
					<td class="table_admin__cell">{{order.location_notes}}</td>
				</tr>
				<tr class="table_admin__row">
					<td class="table_admin__cell table_admin__cell_label">Customer email</td>
					<td class="table_admin__cell table_admin__cell_label">Number of invites</td>
					<td class="table_admin__cell table_admin__cell_label">Entertainers</td>
					<td class="table_admin__cell table_admin__cell_label">Guests</td>
				</tr>
				<tr class="table_admin__row">
					<td class="table_admin__cell">{{order.customer.email}}</td>
					<td class="table_admin__cell">{{order.invites.length}}</td>
					<td class="table_admin__cell">{{order.providers.length}}</td>
					<td class="table_admin__cell">{{order.guest_number}}</td>
				</tr>
				<tr class="table_admin__row">
					<td class="table_admin__cell table_admin__cell_label">Service type</td>
					<td class="table_admin__cell table_admin__cell_label">Length of booking</td>
					<td class="table_admin__cell table_admin__cell_label">Initial cost</td>
					<td class="table_admin__cell table_admin__cell_label">Final cost</td>
				</tr>
				<tr class="table_admin__row">
					<td class="table_admin__cell">{{order.serviceType.name}}</td>
					<td class="table_admin__cell">{{order.length}}</td>
					<td class="table_admin__cell">{{order.cost}}</td>
					<td class="table_admin__cell">{{order.finalCost}}</td>
				</tr>

				<tr 
					class="table_admin__row table_admin__row_start">
					<th class="table_admin__cell table_admin__cell_header" colspan="4">Invites</th>
				</tr>
				<tr class="table_admin__row">
					<td class="table_admin__cell table_admin__cell_label">Entertainer name</td>
					<td class="table_admin__cell table_admin__cell_label">Entertainer email</td>
					<td class="table_admin__cell table_admin__cell_label">Actual length</td>
					<td class="table_admin__cell table_admin__cell_label">Status</td>
				</tr>
				<tr class="table_admin__row">
					<td class="table_admin__cell">{{entertainer.displaying_name}}</td>
					<td class="table_admin__cell">{{entertainer.email}}</td>
					<td class="table_admin__cell">{{entertainer.length}}</td>
					<td class="table_admin__cell">{{entertainer.status}}</td>
				</tr>
				<tr class="table_admin__row">
					<td class="table_admin__cell table_admin__cell_label">To entertainer</td>
					<td class="table_admin__cell table_admin__cell_label">Minx</td>
					<td class="table_admin__cell table_admin__cell_label" colspan="2">Stripe</td>
				</tr>
				<tr class="table_admin__row table_admin__row_end">
					<td class="table_admin__cell">{{entertainer.toEntertainer}}</td>
					<td class="table_admin__cell">{{entertainer.toMinx}}</td>
					<td class="table_admin__cell" colspan="2">{{entertainer.toStripe}}</td>
				</tr>

			</table>
		</div>

	</div>


</div>
