<div id="profile-create">
  <span class="page-name">Create profile</span>
  <form name="createForm" id="profile-form" layout-gt-sm="row">
    <div flex class="type-or-service" ng-if="$ctrl.isProvider">
      <div class="input type">
        <label>Choose type of your service</label>
        <md-button ng-repeat="type in $ctrl.providers"
                   ng-click="$ctrl.switchObjectActivity($ctrl.providers, $index)"
                   ng-class="{active: type.active}"
                   aria-label="{{type.name}}">
          <img ng-src="{{type.img}}" alt="{{type.name}}"/>
          <div class="name">{{type.name}}</div>
          <div class="price">{{type.price}} $</div>
          <div class="desc">
            <i></i>
            <p class="animated fadeIn">{{type.description}}</p>
          </div>
        </md-button>
        <div class="error" ng-if="$ctrl.typeError">
          Please choose type of your service.
        </div>
      </div>
    </div>
    <div flex class="basic-data">
      <div class="input image">
        <label>Add photo</label>
        <div layout="row">
          <div class="file-container"
               flex
               ng-repeat="image in $ctrl.images"
               ng-class="{first: $index === 0, last: $index === 2}">
            <md-button class="file"
                       aria-label="file"
                       ngf-select
                       ng-model="image.file"
                       name="file"
                       ngf-max-size="3MB">
              <img ngf-src="image.file" alt=""/>
            </md-button>
          </div>
        </div>
      </div>
      <div class="input-container" ng-repeat="field in $ctrl.fields">
        <div class="input" ng-if="!field.combined">
          <label>{{field.name}}</label>
          <input type="{{field.type}}"
                 name="{{field.model}}"
                 required
                 ng-model="$ctrl[field.model]"
                 ng-class="{error: $ctrl[field.model + 'Error']}"
                 ng-keyup="$ctrl[field.model + 'Error'] = false"
                 ng-blur="$ctrl.validate({[field.model]: $ctrl[field.model]})">
          <span class="error" ng-if="$ctrl[field.model + 'Error']">
          {{$ctrl[field.model + 'Error']}}
          </span>
        </div>
        <div class="input name" ng-if="field.doubles" layout="row">
          <div ng-repeat="combine in field.combined" flex>
            <label>{{combine.name}}</label>
            <input type="{{combine.type}}"
                   name="{{combine.model}}"
                   required
                   ng-model="$ctrl[double.model]"
                   ng-class="{error: $ctrl[combine.model + 'Error'], first: $index === 0}"
                   ng-keyup="$ctrl[combine.model + 'Error'] = false"
                   ng-blur="$ctrl.validate({[combine.model]: $ctrl[combine.model]})">
            <span class="error" ng-if="$ctrl[combine.model + 'Error']">
          {{$ctrl[combine.model + 'Error']}}
          </span>
          </div>
        </div>
      </div>
      <div class="terms" ng-if="$ctrl.isProvider">
        By clicking Ready you agree to the <a href="">Terms and Privacy</a>
      </div>
      <div class="submit">
        <md-button ng-disabled="!createForm.$valid"
                   ng-class="{disabled: !createForm.$valid}"
                   ng-click="$ctrl.onReady({
                    first_name: createForm.first_name.$viewValue,
                    last_name: createForm.last_name.$viewValue,
                    phone: createForm.phone.$viewValue,
                    email: createForm.email.$viewValue
                   })"
                   type="submit">
          Ready
        </md-button>
      </div>
    </div>
  </form>
</div>
