<div id="profile-create">
  <span class="page-name">Create profile</span>
  <form name="createForm" id="profile-form" layout-gt-sm="row">
    <div flex class="type-or-service" ng-if="$ctrl.isProvider">
      <div class="input type">
        <label>Choose type of your service</label>
        <md-button ng-repeat="type in $ctrl.providers"
                   ng-click="$ctrl.switchObjectActivity($ctrl.providers, $index)"
                   ng-class="{active: type.active}"
                   aria-label="{{type.name}}">
          <img ng-src="{{type.img}}" alt="{{type.name}}"/>
          <div class="name">{{type.name}}</div>
          <div class="price">{{type.cost}} $</div>
          <div class="desc">
            <i></i>
            <p class="animated fadeIn">{{type.desc}}</p>
          </div>
        </md-button>
        <div class="error" ng-if="$ctrl.typeError">
          Please choose type of your service.
        </div>
      </div>
    </div>
    <div flex class="basic-data">
      <div class="input image">
        <label>Add photo</label>
        <div layout="row">
          <div class="file-container first" flex>
            <md-button class="file" aria-label="file">
              <input type="file">
            </md-button>
          </div>
          <div class="file-container" flex ng-if="$ctrl.isProvider">
            <md-button class="file" aria-label="file">
              <input type="file">
            </md-button>
          </div>
          <div class="file-container last" flex ng-if="$ctrl.isProvider">
            <md-button class="file" aria-label="file">
              <input type="file">
            </md-button>
          </div>
        </div>
      </div>
      <div class="input username" ng-if="$ctrl.isProvider">
        <label>Display Name</label>
        <input type="text" name="username" required ng-model="$ctrl.username" ng-blur="$ctrl.validate($ctrl.username)">
      </div>
      <div class="input name" layout="row">
        <div flex>
          <label>First Name</label>
          <input type="text" name="first_name" class="first" required ng-model="$ctrl.first_name">
        </div>
        <div flex>
          <label>Last Name</label>
          <input type="text" name="last_name" required ng-model="$ctrl.last_name">
        </div>
      </div>
      <div class="input phone">
        <label>Mobile Number</label>
        <div layout="row">
          <div flex="25">
            <input type="text" value="+9" class="first" readonly>
          </div>
          <div flex="75">
            <input type="text" name="phone" required ng-model="$ctrl.phone">
          </div>
        </div>
      </div>
      <div class="input">
        <label>Email</label>
        <input type="email" name="email" required ng-model="$ctrl.email">
      </div>
      <div class="terms" ng-if="$ctrl.isProvider">
        By clicking Ready you agree to the <a href="">Terms and Privacy</a>
      </div>
      <div class="submit">
        <md-button ng-disabled="!createForm.$valid"
                   ng-class="{disabled: !createForm.$valid}"
                   ng-click="$ctrl.onReady({
                    first_name: createForm.first_name.$viewValue,
                    last_name: createForm.last_name.$viewValue,
                    phone: createForm.phone.$viewValue,
                    email: createForm.email.$viewValue
                   })"
                   type="submit">
          Ready
        </md-button>
      </div>
    </div>
  </form>
</div>
