<div class="order-terms animated fadeIn" layout="row">
  <div class="order-terms-container">
    <h1 class="page-name">TERMS AND CONDITIONS OF SERVICE OVERVIEW</h1>
    <p class="sub-head">YOU AGREE TO THE FOLLOWING TERMS<br/> AND CONDITIONS:</p>

    <pandax-terms-page-component></pandax-terms-page-component>

    <div class="accept">
      <md-checkbox aria-label="Agree" ng-model="$ctrl.accepted">
        I am 18 years old and agree to the terms and conditions
      </md-checkbox>
      <md-button ng-click="$ctrl.onAccept()"
                 ng-disabled="$ctrl.orderLoading || !$ctrl.accepted"
                 ng-class="{disabled: $ctrl.orderLoading || !$ctrl.accepted}">
        {{!$ctrl.orderLoading ? 'Accept' : ''}}
        <spinner input="$ctrl.orderLoading"></spinner>
      </md-button>
      <a href="" ui-sref="main.create-order">I don’t accept the rules</a>
    </div>
  </div>
</div>
