#profile-form {

  .input {
    max-width: 360px;

    &.image {
      .file {
        width: 88px;
        height: 88px;
        border-radius: 50%;
        background: $Charcoal url('../assets/images/add.png') no-repeat center;
        margin-bottom: 23px;
        line-height: 0;

        input {
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
          padding: 0;
        }
      }
    }

    label {
      color: white;
      font: 0.938em $open-sans, sans-serif;
      line-height: 24px;
      display: block;
      margin: {
        left: 8px;
        bottom: 14px;
        top: 13px;
      };
    }

    input {
      width: 100%;
      padding: 0 10px;
      border: none;
      height: 34px;
      outline: none;
      font: 0.938em $open-sans, sans-serif;
      font-weight: 600;

      &.first {
        border-right: 1px solid $primary;
      }
    }
  }

  .submit {
    position: absolute;
    bottom: 40px;
    max-width: 360px;
    width: 100%;

    button {
      padding: 0;
      margin: 0;
      background: $Cardinal;
      border-radius: 0;
      width: 100%;
      height: 55px;
      color: white;

      .md-ripple-container {
        border-radius: 0;
      }

      &.disabled {
        background: black;
      }
    }

    @media (max-height: 650px) {
      position: relative;
      bottom: auto;
      padding: {
        top: 30px;
        bottom: 40px;
      };
    }
  }

}
