#profile-form {
  max-width: 360px;

  &.edit-mode {
    .input {
      &.image {
        .file-container {
          .file {
            &:hover {
              border: 1px solid white;
              background: $Charcoal;

              &:before {
                content: '';
                z-index: 15;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: rgba(0, 0, 0, .5) url('../assets/images/pen.png') no-repeat center;
              }
            }
          }
        }
      }
    }
  }

  &.view-mode {
    .input {
      input {
        background: transparent;
        color: $AuroMetalSaurus;
        font-weight: bold;

        &.first {
          border: 0;
        }
      }
    }
  }

  .input {
    @import "types";

    width: 100%;

    &.image {
      .file-container {
        text-align: center;

        &.first {
          text-align: left;
        }

        &.last {
          text-align: right;
        }

        .file {
          position: relative;
          width: 88px;
          height: 88px;
          border-radius: 50%;
          background: $Charcoal url('../assets/images/add.png') no-repeat center;
          margin: 0 0 23px 0;
          padding: 0;
          line-height: 0;

          img {
            max-width: 100%;
            display: block;
          }
        }
      }
    }

    label {
      color: white;
      font: 0.938em $open-sans, sans-serif;
      font-weight: 600;
      line-height: 24px;
      display: block;
      margin: {
        left: 8px;
        bottom: 14px;
        top: 13px;
      };
    }

    input {
      width: 100%;
      padding: 0 10px;
      border: none;
      height: 34px;
      outline: none;
      font: 0.938em $open-sans, sans-serif;
      font-weight: 600;
      border-radius: 0;
      background: white;

      &.first {
        border-right: 1px solid $primary;
      }

      &.error {
        border: 1px solid $Cardinal;
      }

      &.location {
        padding-right: 25px;
        background: white url('../assets/images/pin.png') no-repeat center right 9px;
      }
    }

    textarea {
      width: 100%;
      max-width: 100%;
      border: 0;
      min-height: 64px;
      max-height: 100px;
      font: 0.938em $open-sans, sans-serif;
      font-weight: 600;
      padding: 5px 10px;
      outline: none;
    }

    .sub-desc {
      position: relative;
      top: 19px;
      color: $AuroMetalSaurus;
      font: 0.813em $open-sans, sans-serif;
      margin-left: 8px;
      line-height: 17px;
    }

    span {
      &.error {
        color: $Cardinal;
        display: block;
        margin: {
          left: 8px;
          top: 10px;
        };
        font: 0.938em $open-sans, sans-serif;
      }
    }

    .descr {
      margin: {
        top: 15px;
        left: 8px;
      };

      p {
        font: 0.813em $open-sans, sans-serif;
        color: $AuroMetalSaurus;
        line-height: 17px;
        position: relative;

        i {
          display: inline-block;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: url('../assets/images/provider_desc.png') no-repeat center;
          position: relative;
          top: 3px;
          left: 3px;
        }

        a {
          color: $AuroMetalSaurus;
        }
      }
    }

    @media (max-width: 960px) {
      width: 100%;
      max-width: 100%;
    }
  }

  .terms {
    margin-top: 23px;
    font: 0.813em $open-sans, sans-serif;
    color: $TrolleyGrey;

    a {
      color: white;
    }

    @media (max-width: 960px) {
      text-align: center;
    }
  }

  .submit {
    margin: {
      top: 23px;
      bottom: 23px;
    }

    width: 100%;

    button {
      padding: 0;
      margin: 0;
      background: $Cardinal;
      border-radius: 0;
      width: 100%;
      height: 55px;
      color: white;
      border: 1px solid $Cardinal;
      font-size: 0.938em;
      letter-spacing: 1px;

      .md-ripple-container {
        border-radius: 0;
      }

      &.disabled {
        background: black;
        border-color: $Davy-grey;
      }

      &.cancel {
        background: $Charcoal;
        border: none;
      }
    }
  }

  .payments-add-card {
    margin-top: 13px;
    max-width: 100%;
  }

  @media (max-width: 960px) {
    max-width: 100%;
  }
}
