// =============================================================================
// $ Home template styles
// =============================================================================

@import "colors";

#profile {

  width: 100%;
  height: 100%;
  position: relative;

}
