// =============================================================================
// $ Home template styles
// =============================================================================

#profile {

  width: 100%;
  height: 100%;
  position: relative;

  .profile-pages {
    padding: {
      top: 52px;
      left: 30px;
    };

    .page-name {
      color: white;
      text-transform: uppercase;
      font-size: 2em;
      letter-spacing: 2px;
      line-height: 47px;
      margin-bottom: 27px;
      display: block;
    }

    @import "form";
    @import "create";
  }

}
