.md-button {
	border-radius: 0px;
}

@mixin transition($type, $duration, $mode) {
  -webkit-transition: $type $duration $mode;
  -moz-transition: $type $duration $mode;
  -ms-transition: $type $duration $mode;
  -o-transition: $type $duration $mode;
  transition: $type $duration $mode;
}
