.md-button {
  border-radius: 0px;
  &.md-accent[disabled] {
    color: $white;
  }
}

md-dialog {
  background: none;
  border-radius: 0px;
  overflow: visible;
  @media (max-width: 960px) {
    max-width: 100%;
  }
}
.md-dialog-container {
  background-color: rgba($black, .9);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

@mixin transition($type, $duration, $mode) {
  -webkit-transition: $type $duration $mode;
  -moz-transition: $type $duration $mode;
  -ms-transition: $type $duration $mode;
  -o-transition: $type $duration $mode;
  transition: $type $duration $mode;
}

md-radio-button ._md-container:before {
  background-color: $white;
}

md-radio-button.md-default-theme.md-checked ._md-off,
md-radio-button.md-checked ._md-off {
  border: none;
}

md-radio-button ._md-container,
md-radio-button ._md-on,
md-radio-button ._md-off {
  height: 16px;
  width: 16px;
}


.md-progress-circular {
  &_absolute {
    position: absolute;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    top: 50%;
  }

  &_dark {
    #spinner path {
      stroke: $AuroMetalSaurus;
    }
  }
}


md-toast {
  background-color: none;
  position: fixed;
  &.md-default-theme {
    .md-toast-content {
      background-color: $white;
    }
  }
}

md-icon {
  min-width: 10px;
}


/***  Remove riple effect for radio button ***/
md-radio-group.md-default-theme.md-focused:not(:empty) .md-checked ._md-container:before, 
md-radio-group.md-focused:not(:empty) .md-checked ._md-container:before {
  background-color: $white;
}

md-radio-group.md-focused .md-checked ._md-container:before {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px; 
}