$black: #000000;
$white: #FFFFFF;

$primaryDarker: rgb(124, 125, 129);
$primary: rgb(21, 21, 32);
$primaryLighter: #CCCCCC;
$primaryExtraLighter: rgb(228, 228, 228);

$accent: #9BB59C;
$active: #61a021;

$Cardinal: #ba192f;
$Davy-grey: #434043;
$Charcoal: #313846;
$DarkCharcoal: #222530;
$TrolleyGrey: #797e88;
$AuroMetalSaurus: #747984;
$CharcoalDarker: #38404f;
$DarkJungleGreen: #151520;
$Platinum: rgba(223, 229, 235, 1);
$UnitedNationsBlue: rgba(74, 144, 226, 1);
$Munsell: rgba(241, 241, 241, 1);
$Timberwolf: rgba(216, 216, 216, 1);

@mixin gradient($from, $to) {
  background: -ms-linear-gradient(top left, $from 0%, $to 185%);
  background: -moz-linear-gradient(top left, $from 0%, $to 185%);
  background: -o-linear-gradient(top left, $from 0%, $to 185%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0, $from), color-stop(185, $to));
  background: -webkit-linear-gradient(top left, $from 0%, $to 185%);
  background: linear-gradient(to bottom right, $from 0%, $to 185%);
}
