$avenir-regular: 'AvenirNext-Regular';
$open-sans: 'Open Sans';

@font-face {
  font-family: 'AvenirNext-Regular';
  src: url('/assets/fonts/AvenirNextLTPro-Regular.eot'),
  url('/assets/fonts/AvenirNextLTPro-Regular.woff') format('woff'),
  url('/assets/fonts/AvenirNextLTPro-Regular.ttf') format('truetype'),
  url('/assets/fonts/AvenirNextLTPro-Regular.svg#avenirNextLTPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
