.icon {
	$height_medium: 15px;
	$width_medium: 15px;
	&_medium {
		height: $height_medium;
		width: $width_medium;
		svg {
			height: $height_medium;
			width: $width_medium;
		}
	}

  &_modal-close {
    width: 100%;
    z-index: 100;
    &__image {
      background: url(/assets/images/icons/svg/Close_Menu.svg) no-repeat;
      cursor: pointer;
      height: 30px;
      margin-bottom: 10px;
      width: 30px;
      @media (min-width: 960px) {
        margin-right: 4%;
        max-width: 100%;
      }
    }
  }
}

