.table {

  &_admin {
  	background-color: $white;
  	margin-top: 20px;
    padding: 10px 10px;
    &__row {
      &_start {
        .table_admin__cell {
          padding-top: 10px;
        }
      }
      &_end {
        .table_admin__cell {
          border-bottom: 2px solid $Platinum;
          padding-bottom: 13px;
        }
      }
    }
    &__cell {
      @extend .font_admin-main;
      padding: 8px 14px 8px 15px;
      &_label {
        color: $AuroMetalSaurus;
      }
      &_rowspaned {
        border-bottom: 2px solid $Platinum;
      }
      &_avatar {
        img {
          height: 100px;
          width: 50px;
        }
      }
      &_status-value {
        color: green;
        &::before {
          width: 100px;
          height: 100px;
          background: red;
          -moz-border-radius: 50px;
          -webkit-border-radius: 50px;
          border-radius: 50px;
        }
      }
    }
  }
}