.table {
  $circleSize: 8px;

  @mixin circle($borderColor, $bgColor: 'none') {
   @if $bgColor != 'none' {
    background-color: $bgColor;
   }

    border: {
      color: $borderColor;
      radius: $circleSize;
      style: solid;
      width: 1px;
    }
    -moz-border-radius: $circleSize;
    -webkit-border-radius: $circleSize;
    display: inline-block;
    height: $circleSize;
    margin-right: 8px;
    width: $circleSize;
  }

  &_admin {
  	background-color: $white;
  	margin-top: 20px;
    padding: 10px 10px;
    &__row {
      &_start {
        .table_admin__cell {
          padding-top: 10px;
        }
      }
      &_end {
        .table_admin__cell {
          border-bottom: 2px solid $Platinum;
          padding-bottom: 13px;
        }
      }
    }
    &__cell {
      @extend .font_admin-main;
      padding: 8px 14px 8px 15px;
      vertical-align: top;
      &_label {
        color: $AuroMetalSaurus;
      }
      &_rowspaned {
        border-bottom: 2px solid $Platinum;
      }
      &_avatar {
        div {
          background: {
            repeat: no-repeat;
            position: cover;
          }
          height: 100px;
          width: 50px;
        }
      }
      &_status {
        &-icon {
          @include circle(green);
          &-approved {
           @include circle(green, green);
          }
          &-blocked {
           @include circle($Cardinal, $Cardinal);
          }
          &-offline {
           @include circle($AuroMetalSaurus, $AuroMetalSaurus);
          }
        }
        &-value {
          display: inline-block;
          &::first-letter {
            text-transform: uppercase;
          }
        }
      }
    }
  }
}