.logo {
	color: $white;
	&__link {
		color: $white;
	}
}

.text-wrapper {
	font: 15px $open-sans;
	color: $AuroMetalSaurus;
	letter-spacing: 0.1px;
	line-height: 24px;
	text-align: left;
	a {
		color: $white;
	}
}

.no-items-text {
	color: $white;
	font: {
		family: $oswald;
		size: 24px;
		weight: 400;
	}
	margin-top: 26px;
	letter-spacing: 1.3px;
	line-height: 40px;	
	text-align: left;
}

.font_admin-main {
  color: $DarkJungleGreen;
  font: {
    family: $open-sans;
    size: 14px;
    weight: 600;
  }
  letter-spacing: 0.0176em;
  line-height: 15px;
  text-align: left;
}

.font_admin-filter__placeholder {
  color: $AuroMetalSaurus;
  font: {
    family: $open-sans;
    size: 14px;
    weight: 600;
  }
  letter-spacing: 0.0176em;
  line-height: 24px;
  text-align: left;
}

.font_admin-table__header {
  color: $DarkJungleGreen;
  font: {
    family: $oswald;
    size: 17px;
    weight: 600;
  }
  letter-spacing: 0.0588em;
  line-height: 40px;
  text-align: left;
  text-transform: uppercase;
}

.font_admin-manip__label {
  color: $DarkJungleGreen;
  font: {
    family: $open-sans;
    size: 14px;
    weight: 600;
  }
  letter-spacing: 0.0176em;
  line-height: 24px;
  text-align: left;
}
