.logo {
	color: $white;
	&__link {
		color: $white;
	}
}

.text-wrapper {
	font: 15px $open-sans;
	color: $AuroMetalSaurus;
	letter-spacing: 0.1px;
	line-height: 24px;
	text-align: left;
	a {
		color: $white;
	}
}