<div id="payments" layout-gt-sm="row">

  <div class="payments-container" flex="50">
    <h1 class="page-name">Settings</h1>

    <div class="payments-control" layout="row" layout-align="space-between center">
      <div class="name" flex="50">
        <h2>Payments</h2>
      </div>
      <div class="button" flex="50">
        <button>Add new card</button>
      </div>
    </div>

    <div class="payments-cards">
      <p class="no-cards">
        No payment cards have been added.
      </p>
    </div>

  </div>

</div>
