{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "jasmine": true,
    "browser": true
  },
  "rules": {
    "import/extensions": [0], // configure to ignore config and fix whenever
    "no-unused-vars": [0], // fix whenever
    "eqeqeq": "off", // fix whenever
    "max-len": ["error", { "ignoreComments": true, "code": 160 }], // dectease to 120 whenever
    "no-console": [0], // fix whenver
    "comma-dangle": [0],
    "no-shadow": [0],

    "consistent-return": [0], // fix whenver
    "no-else-return": [0],
    "no-return-assign": [0],
    "no-param-reassign": [0],

    "class-methods-use-this": [0],
    "import/no-extraneous-dependencies": [0],
    "import/no-unresolved": [2, {"ignore": ["config"]}],

    // added
    "object-curly-spacing": ["error", "always"],
    "arrow-parens": ["error", "as-needed"],
    "space-before-function-paren": ["error", "always"],
    "space-in-parens": ["error", "never", { "exceptions": ["empty"] }]
  },
  "globals": {
    "angular": true,
    "inject": true,
    "_": true // TODO: fix whenever
  },
  "parser": "babel-eslint"
}
