<div class="payments-page animated fadeIn" layout-gt-sm="row">
    <div class="payments-container" flex="50">
        <h1 class="page-name">Settings</h1>

        <div class="payments-control" layout="row" layout-align="space-between center">
            <div class="name" flex="50"><h2>Payments</h2></div>
            <div class="button" flex="50">
                <button ng-click="$ctrl.add = true">Add new card</button>
            </div>
        </div>

        <div class="payments-add-card" ng-if="$ctrl.add">
            <form name="billingInformationForm" layout="column" class="billing-information-form" novalidate>
                <add-new-card-form model="$ctrl.newCard"  is-required="true"></add-new-card-form>
                <div layout="row">
                    <md-button class="black" ng-click="$ctrl.newCard = {}; $ctrl.add = false">Cancel</md-button>
                    <div style="width: 32px"></div>
                    <md-button ng-click="$ctrl.addCard(billingInformationForm, $ctrl.newCard)" ng-disabled="$ctrl.saveLoading || (billingInformationForm.$invalid && billingInformationForm.$submitted)">
                        <spinner input="$ctrl.saveLoading">Add</spinner>
                    </md-button>
                </div>
            </form>
        </div>

        <tip-modal modal-selector=".entertainers-count-info" ng-show="$ctrl.isProvider">
            Why do we need this? <i class="desc-icon"></i>
            <div style="display: none">
                <div class="md-dialog-container desc entertainers-count-info">
                    <md-dialog>
                        <span class="close" ng-click="$ctrl.$mdDialog.hide()"></span>
                        <div layout-gt-sm="row" layout-align="space-between center">
                            <p>
                                Your earnings are deposited directly into your bank account via Stripe
                                by the next business day so make sure your debit card info is accurate
                                You can update this info at any time.
                            </p>
                        </div>
                    </md-dialog>
                </div>
            </div>
        </tip-modal>

        <div class="payments-cards">
            <p class="no-cards" ng-if="!$ctrl.cards.length"> No cards available </p>
            <card-list cards="$ctrl.cards" ng-if="$ctrl.cards.length"></card-list>
        </div>
    </div>
</div>
