<panda-email-input model="$ctrl.credentials" ng-if="::!$ctrl.passwordOnly" ng-tabindex="1"></panda-email-input>

<input-wrapper name="password" field="Password" ng-if="::!$ctrl.emailOnly">
  <a ui-sref="restorePage($ctrl.credentials)" class="forgot-password-link" tabindex="2" ng-if="::$ctrl.forgotPasswordLink">Forgot ?</a>
  <input type="password" name="password" tabindex="3"
         required touched-invalid
         ng-maxlength="50"
         ng-minlength="5"
         ng-model="$ctrl.credentials.password"/>
</input-wrapper>

<input-wrapper name="password" field="Repeat password" ng-if="::$ctrl.passwordOnly">
  <input type="password"  tabindex="4"
         touched-invalid
         name="repeatedPassword"
         repeat-password-equal="password"
         ng-model="$ctrl.repeatedPassword"/>
</input-wrapper>

<div class="submit-block">
  <md-button type="submit" tabindex="5" ng-disabled="$ctrl.form.$submitted && (!$ctrl.form.$valid || $ctrl.loading)" ng-click="$ctrl.submit($event)">
    <spinner input="$ctrl.loading">{{ ::$ctrl.submitTitle }}</spinner>
  </md-button>
  <span class="ajax-error" ng-show="$ctrl.ajaxError">{{ $ctrl.ajaxError }}</span>
</div>
