<div
  id="search-entertainers" 
  layout="row" 
  layout-align="space-between"
  layout-wrap>

  <div flex="100" layout="column" layout-align="start center" class="search-entertainers__main">
    <div layout="row" layout-align="center stretch" class="search-entertainers__manip_head">
      <md-icon 
        md-svg-icon="/assets/images/icons/svg/arrow_left.svg" 
        class="pointer search-entertainers__manip-arrow_left"
        ng-class="{'disabled': vm.index == 0}"
        ng-click="vm.goToEntertainerByIndex(-1)"></md-icon>
      <div flex="80" layout="row" layout-align="space-between center">
        <span class="search-entertainers__manip-name">{{vm.entertainer.name}}</span>
        <span class="search-entertainers__manip-counter">{{vm.index + 1}} / {{vm.entertainers.length}}</span>
      </div>
      <md-icon 
        md-svg-icon="/assets/images/icons/svg/arrow_right.svg" 
        class="pointer search-entertainers__manip-arrow_right"
        ng-class="{'disabled': (vm.index + 1) == vm.entertainers.length}"
        ng-click="vm.goToEntertainerByIndex(+1)"></md-icon>
    </div>

    <div class="search-entertainers__info">
      <span class="search-entertainers__info-raiting">
        {{vm.entertainer.raiting}}
        <img
          src="/assets/images/icons/raiting.png" 
          class="icon_small"></img>
      </span>
      <span class="search-entertainers__info-distance">{{vm.entertainer.distance}}M AWAY</span>
    </div>

    <div class="search-entertainers__preview_medium">
      <img
        src="{{vm.photoPreviewSrc}}"
        class="pointer"
        ng-click="vm.showPopup($event)"></img>
    </div>

    <div 
      layout="row" 
      layout-align="space-between stretch" 
      class="search-entertainers__switch-foto">
      <div 
        class="search-entertainers__preview_small"
        ng-repeat="photo_small in vm.entertainer.photo_small track by $index"
        ng-class="{'photo_active': vm.photoPreviewSrc === photo_small}"
        ng-click="vm.setPhotoPreview(photo_small)">
        <img
          src="{{photo_small}}"></img>
      </div>
    </div>

    <md-button 
      class="md-raised md-accent search-entertainers__invite"
      ng-click="vm.$state.go('main.searchEntertainers.confirmedEntertainers')">
      INVITE
    </md-button>    
  </div>

</div>
