<div class="list future-orders">
    <ul ng-if="$ctrl.futures.length" infinite-scroll="$ctrl.fetchMoreItems()" infinite-scroll-disabled='$ctrl.isOnProgress || $ctrl.isLastPage'>
        <li ng-repeat="order in $ctrl.futures">
            <div class="order-status" ng-if="(order.invites | filterBy: ['status']: $ctrl.ORDER_STATUSES.inProgress).length > 0">
                <span class="active">Active order</span>
            </div>
            <div class="order-information">
        <span class="date">
          {{!order.asapFlag ? (order.datetime | amDateFormat:'h:mm A, MMM DD (dddd)') : 'ASAP'}}
        </span>
                <span class="minx">{{order.serviceType.name}}</span>
                <span class="address">{{order.location}}</span>
                <div layout="row">
                    <span flex="15" class="guest">{{order.guestNumber}}</span>
                    <span flex="15" class="minx">{{order.entertainers_number}}</span>
                </div>
                <span class="time">{{order.length | hoursToTime}}</span>
                <div layout="row" class="price">
                    <div flex>
                        <span class="initial">${{order.cost}}</span>
                        <p>Initial</p>
                    </div>
                </div>
            </div>
            <div class="order-minx">
                <span class="minx" ui-sref="historyOrderDetailPage({type: 'future', id: order.id})">MINX ({{order.entertainers_number}})</span>
            </div>
        </li>
    </ul>

    <div layout="row" layout-align="center center" ng-if="$ctrl.isOnProgress">
        <md-progress-circular
                md-mode="indeterminate"
                md-diameter="30"
                class="md-progress-circular_dark">
        </md-progress-circular>
    </div>
    <div class="empty-history" ng-hide="$ctrl.isOnProgress || $ctrl.futures.length">
        <p>You don't have any upcoming orders</p>
    </div>
</div>
