@import "restore.page/restore-modal.scss";

.login-pages-layout {
  width: 100%;
  height: 100%;
  padding: 0 5%;
  position: relative;
  background: url('../assets/images/back.png') no-repeat fixed center;
  background-size: cover;
  display: flex;
  align-items: center;

  .login-pages-layout-wrapper {
    width: 100%;
    max-width: 375px;
    margin: auto;
  }

  h1 {
    text-align: center;
    letter-spacing: 1.5px;
    margin: 0 0 60px 0;
    line-height: 36px;
    font: {
      weight: 400;
      size: 1.875em;
    }
  }

  .md-button {
    width: 100%;
    margin: 0;
    letter-spacing: -.16px;
    font: {
      size: 1.125em;
    }
  }

  @import "./login.md-button.scss";

  .login-pages-text-under-button {
    text-align: center;
    font: 0.938em $open-sans, sans-serif;
    line-height: 24px;
    a {
      color: $Cardinal;
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }

  .login-pages-sub-header {
    span {
      display: block;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase;
      color: $AuroMetalSaurus;
      font-size: 1.063em;
      margin-bottom: 28px;
    }

    p {
      margin: 0 8px 16px 8px;
      font: 0.938em $open-sans, sans-serif;
      line-height: 24px;
    }
  }
}

@import "./credentials-inputs.component/credentials-inputs.scss";
@import "./sign-up.page/sign-up.page.scss";

@media (max-height: 600px) {
  html {
    height: auto;
    min-height: 100%;
  }
  .login-pages-layout {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    .login-pages-layout-copyright {
      position: relative;
      margin: 20px 0;
      bottom: auto;
    }
  }
}
