#confirmed-entertainers {
	.font-styles_1 {
		color: $AuroMetalSaurus;
		font: {
			family: $open-sans;
			size: 15px;
			weight: 200;
		}
		letter-spacing: 0.6px;
	}


	.confirmed-entertainers {

		&__header {
			margin-top: 25px;
			padding: 8px 0px;
			&-text {
				color: $white;
				font: {
					family: $oswald;
					size: 16px;
					weight: 400;
				}

				letter-spacing: 1px;
				line-height: 47px;
				text-align: left;
			}
		}

		&__card {
			background-color: $CharcoalDarker;
			margin: 0;
			margin-top: 16px;
			padding: 19px;
			&-header {
				padding: 0px;
				md-card-header-text {
					display: flex;
					justify-content: center;
				}
			}
		}

		&__avatar {
			height: 44px;
			width: 44px;
			&-img {				
				min-height: 44px;
				height: 44px !important;
				min-width: 44px;
				width: 44px !important;
			}
		}

		&__content {
			margin-top: -5px;		// alignment with avatar photo
			padding: 0 0 0 19px;
		}

		&__name {
			color: $white;
			font: {
				family: $open-sans;
				size: 17px;
				weight: 200;
			}
			letter-spacing: 0.4px;
			line-height: 24px;
			text-align: left;
		}

		&__manipulation {
			@extend .font-styles_1;
			margin-top: 6px;
			text-align: left;
		}

		&__timer-value {
			@include getImage('/history/time');
			padding-left: 8.5px;
		}

		&__canceling-message {
			@extend .font-styles_1;
			color: $white;
			margin-top: 6px;
			text-align: left;
		}

	}
}