#history-tabs-wrapper {
  &.hide-tabs {
    md-tabs {
      md-tabs-wrapper {
        display: none;
      }
    }
  }
}

md-tabs {

  md-tabs-canvas {
    height: 64px;

    md-pagination-wrapper {
      height: 58px;
      width: 100% !important;
      display: flex;
      flex-direction: row;

      md-tab-item {
        flex: 1;
        font-size: 1.063em;
        color: white;
        background: $Charcoal;
        overflow: visible;
        padding: 15px 24px;
        line-height: 1.8;

        &:first-child {
          border-right: 1px solid $primary;
        }

        &:last-child {
          border-right: 1px solid $primary;
        }

        &.md-active {
          @include gradient(rgba(24, 95, 221, 1), rgba(188, 55, 240, 1));

          &:after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            right: 0;
            margin: auto;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid rgba(24, 95, 221, 1);
          }
        }
      }

      md-ink-bar {
        display: none;
      }
    }
  }

  md-tabs-content-wrapper {
    color: white;
    margin-top: 30px;

    @import "history.page.list.scss";
  }

  &.md-tabs_provider {
    md-tabs-wrapper {
      display: none;
    }
  }

}
