<div id="entertainers" class="admin__page">


	<div 
		layout="column"
		layout-align="end"
		class="admin__header">
		<span class="admin__page-name">Entertainers</span>		
	</div>


	<div class="admin__manip-row">
		<div 
			layout="row"
			layout-align="start center"
			class="manip-row__block manip-row__block_left">
			<span class="admin__filter-name">Status</span>
      <md-select 
      	ng-model="weapon" 
      	placeholder="Status" 
      	class="select-container_admin">
        <md-option ng-repeat="(key, val) in vm.statuses" value="{{val}}">{{key}}</md-option>
      </md-select>
		</div>
	</div>


	<table 
		class="admin__table table_admin" 
    infinite-scroll="vm.fetchMoreItems()" 
    infinite-scroll-disabled='vm.isOnProgress || vm.isLastPage'>
		<tr 
			class="table_admin__row table_admin__row_start" 
			ng-repeat-start="entertainer in vm.EntertainersService.list">
			<td 
				class="table_admin__cell table_admin__cell_rowspaned" 
				rowspan="3">
				<!-- <div ng-style="{'background-image': 'url(' + entertainer.photos[0].preview + ')'}" alt="{{entertainer.displaying_name}}"></div> -->
				<div class="avatar-wrapper">
					<img ng-src="{{entertainer.photos[0].preview}}" alt="{{entertainer.displaying_name}}">
				</div>
			</td>
			<td
				class="table_admin__cell table_admin__cell_label">
				Status
			</td>
			<td 
				class="table_admin__cell table_admin__cell_status">
				<span class="table_admin__cell_status-icon table_admin__cell_status-icon-{{entertainer.status}}"></span>
				<span class="table_admin__cell_status-value">{{entertainer.status}}</span>
			</td>
			<td
				class="table_admin__cell table_admin__cell_label">
				Email
			</td>
			<td 
				class="table_admin__cell">
				{{entertainer.email}}
			</td>
			<td
				class="table_admin__cell table_admin__cell_label">
				Raiting
			</td>
			<td 
				class="table_admin__cell">
				{{entertainer.rating}}
			</td>
			<td 
				class="table_admin__cell table_admin__cell_actions">
 				<img 
 					ng-if="entertainer.status == vm.statuses.pending" 
 					src="/assets/images/icons/admin/icon_approve.png" 
 					ng-click="vm.EntertainersService.setStatus($event, entertainer, vm.statuses.active, false)"
 					title="Approve"
 					alt="Approve">

 				<img 
 					ng-if="entertainer.status == vm.statuses.rejected" 
 					src="/assets/images/icons/admin/icon_approve.png" 
 					ng-click="vm.EntertainersService.setStatus($event, entertainer, vm.statuses.active, true, vm.statuses.approved)"
 					title="Approve"
 					alt="Approve">

				<img 
					ng-if="entertainer.status == vm.statuses.pending" 
					src="/assets/images/icons/admin/icon_reject.png" 
					ng-click="vm.EntertainersService.setStatus($event, entertainer, vm.statuses.rejected, true)"
					title="Reject"
					alt="Reject">

				<img 
					ng-if="entertainer.status == vm.statuses.active || entertainer.status == vm.statuses.offline" 
					src="/assets/images/icons/admin/icon_block.png" 
					ng-click="vm.EntertainersService.setStatus($event, entertainer, vm.statuses.blocked, true)"
					title="Block"
					alt="Block">

				<img 
					ng-if="entertainer.status == vm.statuses.blocked" 
					src="/assets/images/icons/admin/icon_unblock.png" 
					ng-click="vm.EntertainersService.setStatus($event, entertainer, vm.statuses.active, true, vm.statuses.unblocked)"
					title="Unblock"
					alt="Ubblock">
			</td>
		</tr>		
		<tr 
			class="table_admin__row">
			<td
				class="table_admin__cell table_admin__cell_label">
				Name
			</td>
			<td 
				class="table_admin__cell">
				{{entertainer.first_name}} {{entertainer.last_name}}
			</td>
			<td
				class="table_admin__cell table_admin__cell_label">
				Phone
			</td>
			<td 
				class="table_admin__cell">
				{{entertainer.phone}}
			</td>
			<td
				class="table_admin__cell table_admin__cell_label">
				Photos
			</td>
			<td 
				class="table_admin__cell table_admin__cell_link"
				ng-click="vm.showPopup($event, $index)">
				{{entertainer.photos.length}}
			</td>
			<td></td>
		</tr>		
		<tr 
			class="table_admin__row table_admin__row_end"
			ng-repeat-end>
			<td 
				class="table_admin__cell table_admin__cell_label">
				Display Name
			</td>
			<td 
				class="table_admin__cell">
				{{entertainer.displaying_name}}
			</td>
			<td
				class="table_admin__cell table_admin__cell_label">
				City
			</td>
			<td 
				class="table_admin__cell">
				{{entertainer.city}}
			</td>
			<td class="table_admin__cell_rowspaned"></td><td class="table_admin__cell_rowspaned"></td><td class="table_admin__cell_rowspaned"></td>
		</tr>		
	</table>

</div>