<div id="profile">
    <div class="profile-pages">
        <div id="{{::$ctrl.isCreate ? 'profile-create' : 'profile-view'}}" class="animated fadeIn">
            <span class="page-name">{{::$ctrl.isCreate ? 'Create profile' : 'Profile'}}</span>
            <form name="profileForm" id="profile-form" ng-class="{ 'view-mode': !$ctrl.isEditable, 'edit-mode': $ctrl.isEdit}" novalidate>
                <div class="basic-data">
          <span class="input image">
            <label ng-if="$ctrl.isCreate">Add photo</label>
            <div layout="row">
              <div class="file-container" flex ng-repeat="image in $ctrl.images" ng-class="{first: $index === 0, last: $index === 2}">
                <md-button class="file" aria-label="file" ngf-select ng-disabled="!$ctrl.isEditable" ng-model="image.file"
                           name="file{{::$index}}" ngf-capture="'camera'"
                           ngf-max-size="10MB"
                           ngf-max-height="7000"
                           ngf-max-width="7000"
                           ngf-min-height="200"
                           ngf-min-width="200"
                           ngf-pattern="'.png,.jpg'"
                           ngf-accept="'.png,.jpg'"
                           ng-required="true"
                           ng-change="$ctrl.onImageChange(image.file, $index + 1)">
                          <!--ngf-min-height="200"-->
                    <!--ngf-min-width="200"-->
                    <span ng-show="image.file">
                      <a ui-sref="main.profile.edit" ng-hide="$ctrl.isEditable">
                        <img ngf-src="image.file" alt="profile image" title="click to edit profile"/>
                      </a>
                      <img ngf-src="image.file" alt="profile image" ng-show="!$ctrl.isEditable" title="click to choose image"/>
                    </span>
                </md-button>
              </div>
            </div>
              <span ng-messages="profileForm['file' + idx].$error" class="error" ng-repeat="idx in [0,1,2]"
                    ng-show="profileForm['file' + idx].$touched || profileForm.$submitted">
                  <span ng-show="$ctrl.images.length > 1 && profileForm['file' + idx].$invalid">[{{::idx}}]</span>
                  <span ng-message="maxHeight">Photo must be no less than 200 and no more than 7 000 pixels tall and wide</span>
                  <span ng-message="maxWidth">Photo must be no less than 200 and no more than 7 000 pixels tall and wide</span>
                  <span ng-message="minHeight">Photo must be no less than 200 and no more than 7 000 pixels tall and wide</span>
                  <span ng-message="minWidth">Photo must be no less than 200 and no more than 7 000 pixels tall and wide</span>
                  <span ng-message="maxSize">The file may not exceed 10 MB</span>
                  <span ng-message="pattern">Invalid photo format</span>
                  <span ng-message="required">Image is required</span>
              </span>
          <div class="input-container" ng-repeat="field in $ctrl.fields">
            <div ng-if="field.type === 'dob'" class="input" ng-show="$ctrl.dob.year || $ctrl.isEditable">
              <label>Date of birth</label>
              <div ng-if="$ctrl.isEditable">
                <date-of-birth-input ng-model="$ctrl.dob" min-age="18" required name="dob" as-object="true"></date-of-birth-input>
                <span class="error" ng-messages="profileForm.dob.$error" ng-show="profileForm.$submitted">
                    <div ng-message="required">Date of birth is required</div>
                    <div ng-message="minAge">Minimum allowed age is 18 years</div>
                </span>
              </div>
              <div ng-show="!$ctrl.isEditable" class="fake-input">
                    <span>
                        {{$ctrl.dob | customDate | date : 'MMM d, yyyy'}}
                    </span>
              </div>

            </div>
            <div ng-if="field.type !== 'dob'">
              <div class="input" ng-if="!field.combined">
                <label>{{field.name}}</label>
                <input type="{{field.type}}" name="{{field.model}}" ng-required="$ctrl.isEditable" autocomplete="off" ng-readonly="!$ctrl.isEditable"
                       ng-model="$ctrl[field.model]"
                       ng-class="{error: $ctrl[field.model + 'Error'] && $ctrl.isEditable}"
                       ng-change="$ctrl[field.model + 'Error'] = false"
                       ng-blur="$ctrl.validate({[field.model]: $ctrl[field.model]})">
                <span class="error" ng-if="$ctrl[field.model + 'Error'] && $ctrl.isEditable">
 {{$ctrl[field.model + 'Error']}}
 </span>
              </div>
              <div class="input name" ng-if="field.combined" layout="row">
                <div ng-repeat="combine in field.combined" flex>
                  <label>{{combine.name}}</label>
                  <input type="{{combine.type}}"
                         name="{{combine.model}}"
                         ng-required="$ctrl.isEditable"
                         autocomplete="off"
                         ng-readonly="!$ctrl.isEditable"
                         ng-model="$ctrl[combine.model]"
                         ng-class="{error: $ctrl[combine.model + 'Error'] && $ctrl.isEditable, first: $index === 0}"
                         ng-change="$ctrl[combine.model + 'Error'] = false"
                         ng-blur="$ctrl.validate({[combine.model]: $ctrl[combine.model]})">
                  <span class="error" ng-if="$ctrl[combine.model + 'Error'] && $ctrl.isEditable">
                    {{$ctrl[combine.model + 'Error']}}
                 </span>
                  <div class="sub-desc">{{combine.desc}}</div>
                </div>
              </div>
            </div>
          </div>

              <!-- Add new card form -->
          <div class="payments-add-card" ng-if="$ctrl.isCreate" flex="50" layout="column">
            <card-info form-object="profileForm" model="$ctrl.newCard"></card-info>
          </div>

          <div class="submit" layout="row" layout-align="{{$ctrl.isEdit ? 'space-between center' : 'center'}}">
            <div flex="100" ng-if="!$ctrl.isEditable">
              <md-button ui-sref="main.profile.edit"> Edit Profile</md-button>
            </div>
            <div flex="45" ng-if="$ctrl.isEdit">
              <md-button class="cancel" ui-sref="main.profile.view"> Cancel</md-button>
            </div>
            <div flex="{{$ctrl.isCreate ? '' : 45}}" ng-if="$ctrl.isEditable">
              <md-button ng-disabled="$ctrl.saveLoading"
                         ng-class="{disabled: $ctrl.saveLoading}"
                         ng-click="$ctrl.isEdit ? $ctrl.updateProfile(profileForm) : $ctrl.createProfile(profileForm)"
                         type="submit">
                {{!$ctrl.saveLoading ? ($ctrl.isEdit ? 'Save' : 'Ready') : ''}}
                <spinner input="$ctrl.saveLoading"></spinner>
              </md-button>
            </div>
          </div>
                </div>
            </form>
            <div class="user-photo" ng-style="$ctrl.photo" ng-if="$ctrl.photo"></div>

        </div>
    </div>
</div>
