.navbar {
  background-color: black;
  color: $white;
  height: 100%;

  .logo {
    background: $Cardinal;

    h1 {
      margin: 33px auto 20px;
      letter-spacing: 3px;
      font-size: 1.625em;
      line-height: 36px;
    }
  }
}
