<nav class="navbar" flex-sm="100">

  <div class="logo" layout="row">
    <div class="name" hide show-gt-sm>
      <a ui-sref="home" class="logo__link">MINX</a>
    </div>
    <md-icon
    	md-svg-icon="/assets/images/icons/svg/ic_menu_white.svg"
    	hide-gt-sm
    	flex-offset-xs="90"
    	aria-label="menu">
    </md-icon>
  </div>

  <div hide show-gt-sm class="avatar">
    <img ng-src="{{$ctrl.avatar}}" alt=""/>
  </div>

  <div class="navigation" ng-if="$ctrl.session.user.auth">
    <ul>
      <li ng-repeat="nav in $ctrl.navigation" ui-sref-active="active">
        <a href="" ui-sref="{{nav.url}}">
          {{nav.text}}
        </a>
      </li>
    </ul>
  </div>

  <div class="additional" ng-if="$ctrl.session.user.auth">
    <ul>
      <li ng-repeat="nav in $ctrl.additional" ui-sref-active="active">
        <a href="">
          {{nav.text}}
        </a>
      </li>
    </ul>
  </div>

</nav>
