#orderConfirm {
  $width_main: 80%;

  md-content {
    padding-left: 5%;
    padding-right: 5%;
  }
  .order-information {
    @media (max-width: 960px) {
      padding-left: 31px;
      padding-right: 32px;
    }
    &__header {
      font-family: $oswald;
      font-size: 24px;
      font-weight: 400;
      color: $white;
      letter-spacing: 1.5px;
      margin-top: 23px;
      line-height: 40px;
      text-align: left;
      @media (min-width: 960px) {
        width: $width_main;
      }
    }
    &__descr {
      margin-top: 35px;
    }
    &__cards-container {
      margin-top: 10px;
      margin-bottom: 49px;
      @media (min-width: 960px) {
        width: $width_main;
      }
    }
    &__submit {
      color: $white;
      font: 15px $oswald;
      letter-spacing: 0.1px;
      line-height: 24px;
      margin: 0;
      padding-bottom: 17px;
      padding-top: 13px;
      text-align: center;
      width: 100%;
      @media (min-width: 960px) {
        width: $width_main;
      }
      &_1 {
        @media (min-width: 960px) {
          width: 100%;
        }
      }
      &-wrapper {
        margin-bottom: 15px;
        @media (max-width: 960px) {
          padding-left: 8px;
          padding-right: 7px;
        }
        width: 100%;
      }
    }
  }
}
