<div id="orderConfirm" layout-gt-sm="row">
  <div class="order-form animated fadeIn" flex-gt-sm="50">
    <h1 class="page-name">Create Order</h1>
    <div class="order-information" layout="column" layout-align="start stretch">
      <h3 class="order-information__header">
        YOUR MINX ARE CONFIRMED AND ON THEIR WAY!
      </h3>
      <div class="order-information__descr text-wrapper">
        <p>They will text you soon with their estimated time of the arrival.</p>
        <p>
          Access your order details in your
          <a ui-sref="ordersHistoryPages">Orders list.</a>
        </p>
      </div>
      <div class="order-information__cards-container">
        <div style="color: #747984;margin: 16px;">
          ONLY TEXT MESSAGES ARE AVAILABLE
        </div>
        <invite-description ng-repeat="invite in ::$ctrl.invites track by $index"
                            invite="invite"></invite-description>
      </div>
    </div>
    <div class="order-information__submit-wrapper">
      <md-button class="md-raised md-accent order-information__submit" ui-sref="main.create-order">
        MAKE NEW ORDER
      </md-button>
    </div>
  </div>
</div>
