#navbar-admin {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 230px;

  .logo_admin {
  	height: 89px;
  	min-height: 89px;
  }

  .name_admin {
  	font: {
  		size: 26px;
  	}
  	letter-spacing: 1px;
  	line-height: 36px;
  }

	.navigation_admin {
		height: 100%;
		margin-left: 24px;

		&__block {
			&_top {
				margin-top: 79px;
			}
			&_bottom {
				margin-bottom: 7px;
			}
		}
	}


	.navbar {
		&_admin {
			&__row {
				margin-top: 10px;
				margin-bottom: 20px;
			}
			&__link {
				display: flex;
				line-height: normal;
				&-text {
					margin-left: 20px;
				}
			}
			&__icon-wrapper {
				cursor: pointer;
    		display: flex;
    		flex-direction: row;
				width: 20px;
			}
		}
	}

	/*
		All styles for collapsed menu should be here
	*/
	&.navbar_collapsed {
		width: 70px;

  	.name_admin {
  		font: {
  			size: 15px;
  		}			
  		letter-spacing: .6px;
  	}

  	.navbar_admin__link-text {
  		display: none;
  	}
	}

}