// base styles
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import "common-scss/colors.scss";
@import "common-scss/fonts.scss";
@import "common-scss/form.scss";
@import "common-scss/typography.scss";
@import "common-scss/icons.scss";
@import "common-scss/angular-cosmetics.scss";
@import "common-scss/tables.scss";

@import "common/tip-modal.component/tip-modal.scss";

.panda-app-version {
  position: fixed;
  bottom: 6px;
  color: white;
  right: 30px;
  opacity: 0.05;
  z-index: 1;
  text-shadow: 1px 1px 2px black, 0 0 1em white;
  font-size: 15px;
  &:hover {
    opacity: 1;
  }
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	&:focus {
		outline: none;
	}
}

html,
body {
  height: 100%;
  width: 100%
}

a {
  text-decoration: none;
	outline: none;
}

body {
  // browsers default to 16px for font-size,
  // so setting top-level font-size to 62.5%
  // scales 1rem to equal 10px.
	font: 100% 'Oswald', sans-serif;
}

app {
	display: flex;
	min-height: 100%;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: $primary;

	#wrapper {
		width: 100%;
		height: 100%;

		main {
			height: 100%;
		}
	}

	@media (max-width: 960px) {
		height: 100%;

		#wrapper {
			main {
				height: auto;
			}
		}
	}
}

.pointer {
	cursor: pointer;
}

.disabled {
	opacity: .5;
}

.photo_active {
	border: 4px solid $Cardinal;
}

.attention {
	color: $Cardinal;
}

@mixin getImage($path) {
  background: url('../assets/images/' + $path + '.png') no-repeat center left;
}

.avatar-bg {
	background: {
		repeat: no-repeat;
		size: cover;
		position: center;
	}
}

// components
@import "user.pages/main-page-navbar.component/main-page-navbar.scss";
@import "inputs/panda-google-map.input/panda-google-map.input.scss";
@import "common/spinner.component/spinner.scss";
@import "inputs/panda-find-location.input/panda-find-location.input.scss";
@import "user.pages/billing.page.component/order-details.component/order-details.scss";
@import "login.pages/logout.component/logout.scss";

.app {
	background-color: $primary;
	width: 100%;
	height: 100%;
	position: relative;
}

// pages
@import "login.pages/login.pages.scss";
@import "user.pages/profile.pages/profile.pages.scss";
@import "user.pages/billing.page.component/billing.page.scss";
@import "user.pages/main-page.layout.scss";
@import "user.pages/order.pages/create-order.page.scss";
@import "user.pages/payments.page.component/payments.page.scss";
@import "user.pages/orders-history.pages/orders-history.scss";
@import "user.pages/orders-history.pages/history-order-detail.page/history-order-detail.page";
@import "user.pages/password.page.component/password.page.scss";
@import "user.pages/contact-us.page.component/contact-us.page.scss";
@import "admin.pages/admin-pages.layout.scss";

@import "user.pages/order.pages/rate-entertainers.component/rate-entertainers.scss";
