<div id="history" layout-gt-sm="row" class="animated fadeIn">

  <div class="history-container" flex="60">
    <h1 class="page-name">Orders</h1>

    <div id="history-tabs-wrapper">
      <md-tabs md-dynamic-height md-selected="$ctrl.tab" ng-if="$ctrl.role != 'provider' || !$ctrl.isOnPending">
        <md-tab label="Future"> 
          <future-orders ng-if="$ctrl.role == 'customer'"></future-orders>
          <!-- <future-orders-provider ng-if="$ctrl.User.get('role') == 'provider'"></future-orders-provider> -->
        </md-tab>
        <md-tab label="History">
          <past-orders ng-if="$ctrl.role == 'customer'"></past-orders>
          <past-orders-provider ng-if="$ctrl.role == 'provider'"></past-orders-provider>
        </md-tab>
      </md-tabs>
      <div class="page-notify" ng-if="$ctrl.role == 'provider' && $ctrl.isOnPending">
        Your account is not approved
      </div>
    </div>

  </div>

</div>
