<div id="history" layout-gt-sm="row" class="animated fadeIn">

  <div class="history-container" flex="50">
    <h1 class="page-name">Orders</h1>

    <div id="history-tabs-wrapper">
      <md-tabs md-dynamic-height md-selected="$ctrl.tab">
        <md-tab label="Future"> 
          <future-orders ng-if="$ctrl.User.get('role') == 'customer'"></future-orders>
          <!-- <future-orders-provider ng-if="$ctrl.User.get('role') == 'provider'"></future-orders-provider> -->
        </md-tab>
        <md-tab label="History">
          <past-orders ng-if="$ctrl.User.get('role') == 'customer'"></past-orders>
          <past-orders-provider ng-if="$ctrl.User.get('role') == 'provider'"></past-orders-provider>
        </md-tab>
      </md-tabs>
    </div>

  </div>

</div>
