<div layout-gt-sm="row" class="orders-history-layout animated fadeIn">
  <div class="history-container" flex="60">
    <h1 class="page-name">
      Orders
      <span ng-show="$ctrl.isProvider">History</span>
    </h1>
    <div id="history-tabs-wrapper" ng-class="{'hide-tabs': $ctrl.isProvider}">

      <md-tabs md-dynamic-height md-selected="$ctrl.selectedTab" ng-if="!$ctrl.isProvider">
        <md-tab label="Future" ui-sref="ordersHistoryPages({type: 'future'})">
          <future-orders-customer-tab></future-orders-customer-tab>
        </md-tab>
        <md-tab label="History" ui-sref="ordersHistoryPages({type: 'history'})">
          <past-orders-customer-tab></past-orders-customer-tab>
        </md-tab>
      </md-tabs>

      <past-orders-provider-tab ng-if="$ctrl.isProvider && !$ctrl.isOnPending"></past-orders-provider-tab>

      <div class="page-notify" ng-show="$ctrl.isOnPending">Your account is not approved</div>
    </div>
  </div>
</div>
