.orders-history-layout {
  height: 100%;

  .history-container {
    max-width: 420px;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 52px 30px 0 30px;

    .page-name {
      margin-bottom: 50px;
    }

    .page-notify {
      color: $white;
      font: {
        family: $oswald;
        size: 24px;
        weight: 500;
      }
      letter-spacing: 1px;
      line-height: 40px;
      text: {
        align: left;
        transform: uppercase;
      }
    }

    md-tabs-canvas {
      height: 64px;

      md-pagination-wrapper {
        height: 58px;
        width: 100% !important;
        display: flex;
        flex-direction: row;

        md-tab-item {
          flex: 1;
          font-size: 1.063em;
          color: white;
          background: $Charcoal;
          overflow: visible;
          padding: 15px 24px;
          line-height: 1.8;

          &:first-child {
            border-right: 1px solid $primary;
          }

          &:last-child {
            border-right: 1px solid $primary;
          }

          &.md-active {
            @include gradient(rgba(24, 95, 221, 1), rgba(188, 55, 240, 1));

            &:after {
              content: '';
              position: absolute;
              bottom: -5px;
              left: 0;
              right: 0;
              margin: auto;
              width: 0;
              height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 5px solid rgba(24, 95, 221, 1);
            }
          }
        }

        md-ink-bar {
          display: none;
        }
      }
    }

    md-tabs-content-wrapper {
      margin-top: 30px;

    }

    color: white;
    @import "orders-history.list";

    #history-tabs-wrapper.hide-tabs md-tabs md-tabs-wrapper,
    md-tabs.md-tabs_provider md-tabs-wrapper {
      display: none;
    }

    @media (max-width: 960px) {
      max-width: 100%;
    }
  }

}
