@import "../../../../common/scss/form";

#search-entertainers {
	$width-middle-part: 274px;

	md-buttom {
		color: $AuroMetalSaurus;
	}
	.search-entertainers {

		&__main {
			height: 100%;
		}

		&__manip {
			&_head {
				font: 32px $oswald;
				color: $white;
				letter-spacing: 0.1px;
				margin-top: 38px;
				width: 100%;
			}

			&-counter {
				font: 16px $oswald;
				color: $white;
				letter-spacing: 0.1px;
				line-height: 30px;
				text-align: right;
			}

			&-arrow {
				min-width: 16px;
				width: 16px;
				&_left {
					margin-left: 0;
				}
				&_right {
					margin-right: 0;
				}
			}

			&-name {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}

		&__info {
			clear: both;
			display: block;
			color: $TrolleyGrey;
			margin: 16px auto 0;
			font: 13px $oswald;
			letter-spacing: 0.1px;
			line-height: 24px;
			text-align: left;
			max-width: $width-middle-part;
			&-distance {
				margin-left: 6px;
			}
		}

		&__preview {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			&_medium {
				height: 372px;
				min-height: 372px;
				max-width: $width-middle-part;
				margin: 14px auto 0;
			}
			&_small {
				&:not(:first-child) {
    			margin-left: 14px;
				}
				height: 82px;
				min-height: 82px;
				min-width: 82px;
				width: 82px;
			}
		}

		&__switch-foto {
			margin: 20px auto 0;
			max-width: $width-middle-part;
		}

		&__invite {
			color: $white;
			font: 15px $oswald;
			letter-spacing: 0.1px;
			line-height: 24px;
			margin: 40px 0 20px;
			padding: 17px 125px;
			text-align: center;
			width: 100%;
		}
	}
}
