<div
	layout="row">
	<div
		class="form_1-field__container"
		layout="column"
		flex="100">
		<label class="form_1__label">Card Number</label>
		<input
			type="text"
			name="card_number"
			class="form_1__input"
			ng-model="vm.model.number"
			ng-change="vm.checkCardNumber()"
			required/>
	  <div
	  	ng-messages="vm.formObject.card_number.$error"
	  	ng-show="vm.formObject.card_number.$touched && vm.formObject.card_number.$invalid"
	  	class="validation-messages"
	  	role="alert">
	    <!-- <div ng-messages-include="/app/common/messages/messages.html"></div> -->
	    <messages></messages>	    
	  </div>
	</div>
</div>

<div
	layout="row"
	layout-align="space-between"
	class="form_1__row_2">
	<div
		class="form_1-field__container"
		layout="column"
		flex="33">
		<label class="form_1__label">Valid Thru</label>
		<input
			type="text"
			name="expiry"
			class="form_1__input"
			ng-model="vm.model.expiry"
			ng-change="vm.checkCardExpiry()"
			required/>
	  <div
	  	ng-messages="vm.formObject.expiry.$error"
	  	ng-show="vm.formObject.expiry.$touched && vm.formObject.expiry.$invalid"
	  	class="validation-messages"
	  	role="alert">
	    <messages></messages>
	  </div>
	</div>
	<div
		class="form_1-field__container"
		layout="column"
		flex="33">
		<label class="form_1__label">CVC</label>
		<input
			type="text"
			name="cvc"
			class="form_1__input"
			ng-model="vm.model.cvc"
			ng-change="vm.checkCardCvc()"
			required/>
	  <div
	  	ng-messages="vm.formObject.cvc.$error"
	  	ng-show="vm.formObject.cvc.$touched && vm.formObject.cvc.$invalid"
	  	class="validation-messages"
	  	role="alert">
	    <messages></messages>
	  </div>
	</div>
	<div
		class="form_1-field__container"
		layout="column"
		flex="33">
		<label class="form_1__label">Zip code</label>
		<input
			type="text"
			name="zip"
			class="form_1__input"
			ng-model="vm.model.zip"
			required/>
	  <div
	  	ng-messages="vm.formObject.zip.$error"
	  	ng-show="vm.formObject.zip.$touched && vm.formObject.zip.$invalid"
	  	class="validation-messages"
	  	role="alert">
	    <messages></messages>
	  </div>
	</div>
</div>
