@import "../../../common-scss/colors.scss";
@import "../../../common-scss/fonts.scss";

#provider-past-orders {

	.order-information {
		width: 100%;

		&-wrapper {
			display: flex;
		}

		&__header {
			border-bottom: 2px solid $DarkJungleGreen;
			padding-bottom: 14px;
			margin-bottom: 15px;
		}

		&-customer {
			&-photo {
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				height: 54px;
				min-height: 54px;
				min-width: 54px;
				width: 54px;
			}

  		&-info {
  			padding-left: 18px;
			}

  		&-name {
  			font: {
  				family: $oswald !important;
  				size: 21px  !important;
  				weight: 400 !important;
  			}
				letter-spacing: 1.7px !important;
				line-height: 24px !important;
  			padding-left: 0 !important;
  			text-transform: uppercase;
			}

			&-tel {
				margin-top: 4px;
				&__icon {
			    svg {
			      fill: $AuroMetalSaurus;
			    }
				}
    		&__value {
    			background: url('/assets/images/icons/icon_phone-3x.png') center left / 13px 15px no-repeat;
    			color: $AuroMetalSaurus;
	  			font: {
	  				family: $open-sans !important;
	  				size: 15px  !important;
	  				weight: 300 !important;
	  			}
					letter-spacing: .4px !important;
					line-height: 24px !important;
    			padding-left: 21px !important;
				}
			}

			&-raiting {
				&__value {
					padding: 0 !important;
					padding-right: 7px !important;
					margin: 0 !important;
				}
				&__icon {
					height: 15px;
					width: 25px;
				}
			}
		}

		&-canceled-message {
			font: {
				family: $open-sans !important;
				size: 15px  !important;
				weight: 300 !important;
			}
			margin-top: 14px;
		}
	}

	 .initial-text {
	 	padding-left: 21px !important;
	 }
}
