<nav id="navbar-admin" class="navbar navbar_admin" ng-class="{'navbar_collapsed': $ctrl.collapsed == true}" flex-sm="100">

  <div class="logo logo_admin" layout="row">
    <div class="name name_admin">
      <a class="logo__link" ng-click="$ctrl.collapsed = !$ctrl.collapsed">MINX</a>
    </div>
  </div>

  <div layout="column" layout-align="space-between" class="navigation navigation_admin">
    <ul class="navigation_admin__block navigation_admin__block_top" active-menu-item layout="column" layout-align="start start"
        ng-if="($ctrl.navigation | navByPosition : 'bottom' : undefined).length > 0">
      <li class="navbar_admin__row" layout="row" layout-align="start" title="{{nav.hint}}"
          ng-repeat="nav in $ctrl.navigation | navByPosition : 'bottom' : undefined">
        <a href="" class="navbar_admin__link" ui-sref="{{nav.url.length > 0 ? nav.url : '#'}}" ui-sref-active="active">
          <div class="navbar_admin__icon-wrapper">
            <md-icon md-svg-icon="{{nav.icon.path}}" ng-style="nav.icon.styles"></md-icon>
          </div>
          <span class="navbar_admin__link-text">{{nav.text}}</span>
        </a>
      </li>
    </ul>

    <ul class="navigation_admin__block navigation_admin__block_bottom" active-menu-item layout="column" layout-align="start start"
        ng-if="($ctrl.navigation | navByPosition : 'bottom' : true).length > 0">
      <li class="navbar_admin__row" layout="row" layout-align="start" title="{{nav.hint}}"
          ng-repeat="nav in $ctrl.navigation | navByPosition : 'bottom' : true">
        <a ng-if="!nav.isComponent" class="navbar_admin__link" ui-sref="{{nav.url.length > 0 ? nav.url : '#'}}" ui-sref-active="active">
          <div class="navbar_admin__icon-wrapper">
            <md-icon md-svg-icon="{{nav.icon.path}}" ng-style="nav.icon.styles"></md-icon>
          </div>
          <span class="navbar_admin__link-text">{{nav.text}}</span>
        </a>
        <a ng-if="nav.isComponent" href="javascript:void(0)" class="navbar_admin__link">
          <logout ng-if="nav.component == 'logout'"></logout>
        </a>
      </li>
    </ul>
  </div>
</nav>
