@mixin image($name) {
  background: url('../assets/images/history/' + $name + '.png') no-repeat center left;
}

.list {

  ul {

    li {
      margin-bottom: 30px;
      padding: 16px 21px;
      background: $Charcoal;

      span {
        display: block;
        font: 0.938em $open-sans, sans-serif;
        line-height: 24px;
        margin-bottom: 6px;
        padding-left: 21px;

        &.date { @include image('date'); }
        &.minx { @include image('minx'); }
        &.address { @include image('address'); }
        &.guest { @include image('guest'); }
        &.time { @include image('time'); }
        &.initial { @include image('price'); }

        &.final {
          padding-left: 0;
        }
      }

      .order-information {
        .price {
          margin-top: 20px;

          div {
            span {
              margin-bottom: 0;
              font: {
                size: 1.063em;
                family: $oswald;
              }
            }

            p {
              text-transform: uppercase;
              font: 0.688em $open-sans, sans-serif;
              color: $AuroMetalSaurus;
              line-height: 24px;
              padding-left: 21px;
            }

            &:last-child {
              p {
                padding-left: 0;
              }
            }
          }
        }
      }

      .order-minx {
        margin-top: 12px;
        padding-top: 15px;
        border-top: 2px solid $DarkJungleGreen;

        span {
          font: 0.938em $oswald, sans-serif;
          letter-spacing: 1.5px;
          margin: 0;
          cursor: pointer;
        }
      }
    }

  }

}
