<md-radio-group
	id="cardList"
	class="card-list"
	ng-change="vm.setDefaultCard()"
	ng-model="vm.Cards.defaultCardId"
	ng-disabled="vm.saveLoading">

	<div
		layout="row"
		layout-align="space-between"
		class="card"
		ng-repeat="card in vm.cards">

		<div flex="10" class="card-manipulation_left">
      <md-radio-button
      	ng-model="card.default"
      	ng-value="card.id"
      	aria-label="Set default card"></md-radio-button>
		</div>

		<div
			layout="column"
			flex="90"
			class="card-information">
			<div class="card-information__top">
				<span class="card-information__name">{{card.brand}}</span>
				<span class="card-information__default" ng-if="card.is_default == true">(default)</span>
			</div>
			<div class="card-information__bottom">
				**** **** **** {{card.last4}}
			</div>
			<div class="card-information__valid-thru">
				Valid Thru: {{card.exp_month}}/{{card.exp_year ? card.exp_year.toString().substr(-2) : ''}}
			</div>
		</div>

		<div class="card-manipulation_right">
			<img
				src="/assets/images/icons/trash-3x.png"
				class="pointer icon_medium card-icon_trash"
				ng-click="vm.deleteCard(card.id)"></img>
		</div>

	</div>


  <md-progress-circular
  	md-mode="indeterminate"
  	md-diameter="30"
  	class="md-progress-circular_absolute md-progress-circular_dark"
  	ng-if="vm.saveLoading">
  </md-progress-circular>

</md-radio-group>
