@import "../../scss/colors";
@import "../../scss/fonts";

#cardList {
	position: relative;

	&[disabled] {
		display: block;
		opacity: .5;
	}

	.card {
		&-list {

		}

		background-color: $Charcoal;
		margin-top: 30px;
		padding: 20px;
		width: 100%;

		&-information {
			&__top {
				font: {
					family: $open-sans;
					size: 15px;
				}
				letter-spacing: .1px;
				text-align: left;
			}
			&__name {
				color: $white;
				font-style: normal;
			}
			&__default {
				color: $AuroMetalSaurus;
				font-style: italic;
			}
			&__bottom {
				color: $AuroMetalSaurus;
				font: {
					family: $open-sans;
					size: 15px;
				}
				margin-top: 10px;
				letter-spacing: .1px;
				text-align: left;
			}

			&__valid-thru {
				color: $AuroMetalSaurus;
				font: {
					family: $open-sans;
					size: 15px;
				}
				letter-spacing: .3px;
				margin-top: 4px;
			}
		}

		&-icon {
			&_trash {
				height: 15px;
				width: 13px;
			}
		}
	}
}
