<div id="orders" class="admin__page admin__page_orders">
    <div layout="column" layout-align="end" class="admin__header">
        <span class="admin__page-name">Orders</span>
    </div>

    <div class="admin__manip-row" layout="row">
        <div class="admin__manip-section" flex="50" layout="column">
            <label class="admin__manip-label">Customer name</label>
            <input type="text" name="search" class="admin__manip-field admin__manip-text" placeholder="Enter name" ng-model="$ctrl.searchParams.customer_name"
                   ng-model-options="{ debounce: 500 }" ng-change="$ctrl.filterData()">
        </div>
        <div class="admin__manip-section" flex="50" layout="column">
            <label class="admin__manip-label">Customer email</label>
            <input type="text" name="search" class="admin__manip-field admin__manip-text" placeholder="Enter email" ng-model="$ctrl.searchParams.customer_email"
                   ng-model-options="{ debounce: 500 }" ng-change="$ctrl.filterData()">
        </div>
    </div>

    <div class="admin__manip-row" layout="row">
        <div class="admin__manip-section" flex="50" layout="column">
            <label class="admin__manip-label">Entertainer name</label>
            <input type="text" name="search" class="admin__manip-field admin__manip-text" placeholder="Enter name" ng-model="$ctrl.searchParams.provider_name"
                   ng-model-options="{ debounce: 500 }" ng-change="$ctrl.filterData()">
        </div>
        <div class="admin__manip-section" flex="50" layout="column">
            <label class="admin__manip-label">Entertainer email</label>
            <input type="text" name="search" class="admin__manip-field admin__manip-text" placeholder="Enter email" ng-model="$ctrl.searchParams.provider_email"
                   ng-model-options="{ debounce: 500 }" ng-change="$ctrl.filterData()">
        </div>
    </div>

    <div class="admin__manip-row" layout="row">
        <div class="admin__manip-section" flex="40" layout="column">
            <panda-find-location-input ng-model="$ctrl.searchParams.location" name="location"
                                       as-text="true"
                                       placeholder="Enter address"
                                       ng-change="$ctrl.filterData()"
                                       label="Location address"></panda-find-location-input>
        </div>
        <div class="admin__manip-section" flex="40" layout="column">
            <label class="admin__manip-label">Type of service</label>
            <md-select ng-model="$ctrl.searchParams['service_type[]']" placeholder="All" class="admin__manip-field select-container_admin" name="service_type"
                       ng-change="$ctrl.filterData()" multiple="true">
                <md-option ng-repeat="type in $ctrl.typesOfService track by $index" value="{{type.type}}">{{type.name}}</md-option>
            </md-select>
        </div>
        <div class="admin__manip-section" flex="40" layout="column">
            <label class="admin__manip-label">Creation dates</label>
            <div layout="row" class="admin__manip-field">
                <md-datepicker class="admin__datepicker" aria-readonly="true" name="create_dt_from" ng-model="$ctrl.searchParams.create_dt_from" ng-change="$ctrl.filterData()"></md-datepicker>
                <md-datepicker class="admin__datepicker" aria-readonly="true" name="create_dt_to" ng-model="$ctrl.searchParams.create_dt_to" ng-change="$ctrl.filterData()"></md-datepicker>
            </div>
        </div>
    </div>

    <div class="admin__manip-row" layout="row">
        <div class="admin__manip-section admin__manip-section_cost" flex="40" layout="column">
            <label class="admin__manip-label">Cost</label>
            <div layout="row" class="admin__manip-field">
                <input type="number" name="cost_from" class="admin__manip-text admin__manip-text_half" placeholder="From"
                       ng-model="$ctrl.searchParams.cost_from"
                       ng-model-options="{ debounce: 500 }"
                       ng-change="$ctrl.filterData()">
                <input type="number" name="cost_to" class="admin__manip-text admin__manip-text_half" placeholder="To"
                       ng-model="$ctrl.searchParams.cost_to"
                       ng-model-options="{ debounce: 500 }"
                       ng-change="$ctrl.filterData()">
            </div>
        </div>
        <div class="admin__manip-section" flex="40" layout="column">
            <label class="admin__manip-label">Status</label>
            <md-select ng-model="$ctrl.searchParams['status[]']" placeholder="All" class="admin__manip-field select-container_admin" name="status" ng-change="$ctrl.filterData()" multiple="true">
                <md-option ng-repeat="(key, value) in $ctrl.SATUSES" value="{{key}}">{{::value}}</md-option>
            </md-select>
        </div>
        <div class="admin__manip-section" flex="40" layout="column">
            <label class="admin__manip-label">Order start date</label>
            <div layout="row" class="admin__manip-field">
                <md-datepicker class="admin__datepicker" aria-readonly="true" name="start_dt_from" ng-model="$ctrl.searchParams.start_dt_from" ng-change="$ctrl.filterData()"></md-datepicker>
                <md-datepicker class="admin__datepicker" aria-readonly="true" name="start_dt_to" ng-model="$ctrl.searchParams.start_dt_to" ng-change="$ctrl.filterData()"></md-datepicker>
            </div>
        </div>
    </div>

    <br>
    <md-progress-linear ng-show="$ctrl.isOnProgress"></md-progress-linear>

    <div class="orders-content" layout="row" ng-hide="$ctrl.isOnProgress || !$ctrl.list.length">
        <div class="orders-list">
            <div class="infinite-scroll-wrapper" infinite-scroll="$ctrl.fetchMoreItems()" infinite-scroll-disabled='$ctrl.isOnProgress || $ctrl.isLastPage' infinite-scroll-container="'.orders-list'">
                <div class="order" ng-class="{order_active: $ctrl.activeOrderDetails.id === order.id}" layout="column" ng-repeat="order in $ctrl.list" ng-click="$ctrl.getOrderDetails(order.id)">
                    <div class="order__content">
                        <span class="order-param order-param_date">{{order.createdDt | amDateFormat:'h:mm A, MMM DD (dddd)'}}</span>
                        <span class="order-param order-param_name">{{order.customer.first_name}} {{order.customer.last_name}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div flex="80">
            <table class="admin__table admin__table_orders table_admin" ng-if="$ctrl.activeOrderDetails">
                <tr class="table_admin__row table_admin__row_start">
                    <th class=" table_admin__cell table_admin__cell_header" colspan="4">General Information</th>
                </tr>
                <tr class="table_admin__row">
                    <td class="table_admin__cell table_admin__cell_label">Creation date</td>
                    <td class="table_admin__cell table_admin__cell_label">Location</td>
                    <td class="table_admin__cell table_admin__cell_label">Apartment</td>
                    <td class="table_admin__cell table_admin__cell_label">Event details and location notes</td>
                </tr>
                <tr class="table_admin__row">
                    <td class="table_admin__cell">{{$ctrl.activeOrderDetails.createdDt | amDateFormat:'h:mm A, MMM DD'}}</td>
                    <td class="table_admin__cell">{{$ctrl.activeOrderDetails.location}}</td>
                    <td class="table_admin__cell">{{$ctrl.activeOrderDetails.apartment}}</td>
                    <td class="table_admin__cell">{{$ctrl.activeOrderDetails.locationNotes}}</td>
                </tr>
                <tr class="table_admin__row">
                    <td class="table_admin__cell table_admin__cell_label">Customer name</td>
                    <td class="table_admin__cell table_admin__cell_label">Customer email</td>
                    <td class="table_admin__cell table_admin__cell_label">Date of order start</td>
                    <td class="table_admin__cell table_admin__cell_label">Service type</td>
                </tr>
                <tr class="table_admin__row">
                    <td class="table_admin__cell">{{$ctrl.activeOrderDetails.customer.first_name}} {{$ctrl.activeOrderDetails.customer.last_name}}</td>
                    <td class="table_admin__cell">{{$ctrl.activeOrderDetails.customer.email}}</td>
                    <td class="table_admin__cell">{{$ctrl.activeOrderDetails.asapFlag ? 'ASAP' : ($ctrl.activeOrderDetails.datetime | amDateFormat:'h:mm A, MMM DD')}}</td>
                    <td class="table_admin__cell">{{$ctrl.activeOrderDetails.serviceType.name}}</td>
                </tr>
                <tr class="table_admin__row">
                    <td class="table_admin__cell table_admin__cell_label">Length of booking</td>
                    <td class="table_admin__cell table_admin__cell_label">Number of invites</td>
                    <td class="table_admin__cell table_admin__cell_label">Entertainers</td>
                    <td class="table_admin__cell table_admin__cell_label">Guests</td>
                </tr>
                <tr class="table_admin__row">
                    <td class="table_admin__cell">{{$ctrl.activeOrderDetails.length | hoursToTime}}</td>
                    <td class="table_admin__cell">{{$ctrl.activeOrderDetails.totalInvites}}</td>
                    <td class="table_admin__cell">{{$ctrl.activeOrderDetails.entertainers_number}}</td>
                    <td class="table_admin__cell">{{$ctrl.activeOrderDetails.guestNumber}}</td>
                </tr>
                <tr class="table_admin__row">
                    <td class="table_admin__cell table_admin__cell_label">Pre-paid</td>
                    <td class="table_admin__cell table_admin__cell_label">Current cost</td>
                    <td class="table_admin__cell table_admin__cell_label">Minx system commission</td>
                    <td class="table_admin__cell table_admin__cell_label">Stripe</td>
                </tr>
                <tr class="table_admin__row">
                    <td class="table_admin__cell table_admin__cell_money">{{$ctrl.activeOrderDetails.cost}}</td>
                    <td class="table_admin__cell table_admin__cell_money">{{$ctrl.activeOrderDetails.finalCost}}</td>
                    <td class="table_admin__cell table_admin__cell_money">{{$ctrl.activeOrderDetails.comission}}</td>
                    <td class="table_admin__cell table_admin__cell_money">{{$ctrl.activeOrderDetails.stripeComission}}</td>
                </tr>

                <tr class="table_admin__row table_admin__row_start">
                    <th class="table_admin__cell table_admin__cell_header" colspan="4">Invites</th>
                </tr>
                <tr
                        class="table_admin__row" ng-repeat-start="invite in $ctrl.activeOrderDetails.invites">
                    <td class="table_admin__cell table_admin__cell_label">Entertainer name</td>
                    <td class="table_admin__cell table_admin__cell_label">Entertainer email</td>
                    <td class="table_admin__cell table_admin__cell_label">Creation date</td>
                    <td class="table_admin__cell table_admin__cell_label">Actual length</td>
                </tr>
                <tr class="table_admin__row">
                    <td class="table_admin__cell">{{invite.provider.displaying_name}}</td>
                    <td class="table_admin__cell">{{invite.provider.email}}</td>
                    <td class="table_admin__cell">{{invite.createdDt | amDateFormat:'h:mm A, MMM DD'}}</td>
                    <td class="table_admin__cell">{{invite.length | hoursToTime: 'seconds'}}</td>
                </tr>
                <tr class="table_admin__row">
                    <td class="table_admin__cell table_admin__cell_label">Status</td>
                    <td class="table_admin__cell table_admin__cell_label">To entertainer</td>
                    <td class="table_admin__cell table_admin__cell_label" colspan="2">Stripe (0.5%)</td>
                </tr>
                <tr class="table_admin__row table_admin__row_end" ng-repeat-end>
                    <td class="table_admin__cell">{{$ctrl.STATUSES[invite.status] || invite.status}}</td>
                    <td class="table_admin__cell table_admin__cell_money">
                        {{invite.moneyEarned}}
                        <span class="attention" ng-if="invite.penalty > 0">(excl. ${{invite.penalty}})</span>
                    </td>
                    <td class="table_admin__cell table_admin__cell_money" colspan="2">{{invite.stripeComission}}</td>
                </tr>
            </table>
            <md-progress-linear ng-show="$ctrl.isLoadingDetails"></md-progress-linear>
        </div>
    </div>
</div>
