<div class="hidden-entertainer-page">
  <div>
    <b>{{$ctrl.statusUrl}}</b>
  </div>
  <div>
    <b>Role:</b> {{$ctrl.user.role}}
    <b>Status:</b> {{$ctrl.user.status}}
  </div>


  <div ng-hide="$ctrl.loading">
    <button class="button" ng-click="$ctrl.setStatus()" ng-disabled="$ctrl.isSwitchingStatus">
      <spinner input="$ctrl.isSwitchingStatus">
        Set status as "{{$ctrl.nextStatus}}"
      </spinner>
    </button>
    <input type="text" class="admin__manip-field admin__manip-text"
           placeholder="Latitude"
           title="default will be used if empty"
           ng-model="$ctrl.latitude" ng-hide="$ctrl.isActive">
    <input type="text" class="admin__manip-field admin__manip-text"
           placeholder="Longitude"
           title="default will be used if empty"
           ng-model="$ctrl.longitude" ng-hide="$ctrl.isActive">
  </div>
</div>
