<div id="order" layout-gt-sm="row">

  <div class="order-form" flex>
    <h1 class="page-name">Make Order</h1>
    <div class="provider-type" layout="row">
      <div flex ng-repeat="type in $ctrl.providers">
        <md-button ng-click="type.active = !type.active; $ctrl.typeError = false;"
                   ng-class="{active: type.active}"
                   aria-label="{{type.name}}">
          <div class="price">{{type.price}}$</div>
          <div class="name">{{type.name}}</div>
          <div class="desc">
            <i></i>
            <p class="animated fadeIn">{{type.description}}</p>
          </div>
        </md-button>
      </div>
    </div>
    <form name="orderForm" id="profile-form">
      <div class="input" layout="row">
        <div flex>
          <label>Length of booking</label>
          <md-select ng-model="$ctrl.hour" aria-label="Hour" name="hour">
            <md-option ng-repeat="hour in $ctrl.hours" value="{{hour}}">
              {{hour}}
            </md-option>
          </md-select>
          <div class="descr">
            <p>Get 50% off on additional hours</p>
          </div>
        </div>
        <div flex>
          <label>Entertainers</label>
          <md-select ng-model="$ctrl.entertainer" aria-label="Entertainer" name="entertainer">
            <md-option ng-repeat="entertainer in $ctrl.entertainers" value="{{entertainer}}">
              {{entertainer}}
            </md-option>
          </md-select>
          <div class="descr">
            <p>Minimum 2 entertainers for first time customers <i></i></p>
          </div>
        </div>
      </div>
      <div class="input" layout="row">
        <div flex="60">
          <label>Location</label>
          <md-autocomplete
            required
            md-selected-item="$ctrl.selectedItem"
            md-search-text="$ctrl.searchText"
            md-items="item in $ctrl.getLocation($ctrl.searchText)"
            md-item-text="item.formatted_address"
            md-min-length="2">
            <md-item-template>
              <span ng-click="$ctrl.setLocation(item)" md-highlight-text="$ctrl.searchText" md-highlight-flags="^i">
                {{item.formatted_address}}
              </span>
            </md-item-template>
            <md-not-found>
              No states matching "{{$ctrl.searchText}}" were found.
            </md-not-found>
          </md-autocomplete>
        </div>
        <div flex="40">
          <label>Apt</label>
          <input type="text" name="apt" ng-model="$ctrl.apt">
        </div>
      </div>
      <div class="input">
        <label>Location notes</label>
        <textarea name="notes" ng-model="$ctrl.notes"></textarea>
      </div>
      <div class="input radio" layout="row">
        <div flex>
          <md-button aria-label="ASAP"
                     class="first"
                     ng-class="{active: $ctrl.asap}"
                     ng-click="$ctrl.later = false">
            <label for="asap">ASAP</label>
            <input id="asap" type="checkbox" name="asap" ng-model="$ctrl.asap">
          </md-button>
        </div>
        <div flex>
          <md-button aria-label="Later"
                     ng-class="{active: $ctrl.later}"
                     ng-click="$ctrl.asap = false">
            <label for="later">Later</label>
            <input id="later" type="checkbox" name="later" ng-model="$ctrl.later">
          </md-button>
        </div>
      </div>
      <div class="input" layout="row">
        <div flex>
          <label>Date</label>
          <md-datepicker ng-model="$ctrl.date"
                         md-placeholder="Enter date"
                         md-min-date="$ctrl.currentDate"
                         md-max-date=""
                         name="date">
          </md-datepicker>
        </div>
        <div flex>
          <label></label>
          <md-select ng-model="$ctrl.time" aria-label="Time" name="time">
            <md-option ng-repeat="time in $ctrl.times" value="{{time}}" ng-disabled="$index === 1">
              {{time}}
            </md-option>
          </md-select>
        </div>
      </div>
      <div class="total">
        TOTAL: $ 750
      </div>
      <div class="submit">
        <md-button ng-disabled="!orderForm.$valid"
                   ng-class="{disabled: !orderForm.$valid}"
                   type="submit"
                   ng-click="$ctrl.onSearch({
                    hour: orderForm.hour.$viewValue,
                    entertainer: orderForm.entertainer.$viewValue,
                    apt: orderForm.apt.$viewValue,
                    notes: orderForm.notes.$viewValue,
                    asap: orderForm.asap.$viewValue,
                    later: orderForm.later.$viewValue,
                    date: orderForm.date.$viewValue,
                    time: orderForm.time.$viewValue
                   })">
          SEARCH FOR MINX
        </md-button>
      </div>
    </form>
  </div>

  <div class="order-map" flex>
    <map input="$ctrl.location" output="$ctrl.markerLocation(location)"></map>
  </div>

</div>
