<div id="orders" class="admin__page admin__page_orders">
  <div layout="column" layout-align="end" class="admin__header">
    <span class="admin__page-name">Orders</span>
  </div>
  <div class="admin__manip-row" layout="row">
    <div class="admin__manip-section" flex="40" layout="column">
      <label for="search" class="admin__manip-label">Search</label>
      <input type="text" name="search" class="admin__manip-field admin__manip-text" placeholder="Enter name, email or location" ng-model="$ctrl.manip.search">
    </div>
    <div class="admin__manip-section" flex="40" layout="column">
      <label for="typeOfService" class="admin__manip-label">Type of service</label>
      <md-select ng-model="$ctrl.manip.typeOfServiceSelected" placeholder="All" class="admin__manip-field select-container_admin" name="typeOfService">
        <md-option ng-repeat="type in $ctrl.typesOfService track by $index" value="{{type.type}}">{{type.name}}</md-option>
      </md-select>
    </div>
    <div class="admin__manip-section" flex="40" layout="column">
      <label for="dateCreationFrom" class="admin__manip-label">Creation dates</label>
      <div layout="row" class="admin__manip-field">
        <md-datepicker class="admin__datepicker" ng-model="$ctrl.manip.dateCreationFr" aria-readonly="true" name="dateCreationFrom"></md-datepicker>
        <md-datepicker class="admin__datepicker" ng-model="$ctrl.manip.dateCreationTo" aria-readonly="true" name="dateCreationTo"></md-datepicker>
      </div>
    </div>
  </div>
  <div class="admin__manip-row" layout="row">
    <div class="admin__manip-section admin__manip-section_cost" flex="40" layout="column">
      <label for="costFrom" class="admin__manip-label">Cost</label>
      <div layout="row" class="admin__manip-field">
        <input type="text" name="costFrom" class="admin__manip-text admin__manip-text_half" placeholder="From" ng-model="$ctrl.manip.costFr">
        <input type="text" name="costTo" class="admin__manip-text admin__manip-text_half" placeholder="To" ng-model="$ctrl.manip.costTo">
      </div>
    </div>
    <div class="admin__manip-section" flex="40" layout="column">
      <label for="status" class="admin__manip-label">Status</label>
      <md-select ng-model="$ctrl.manip.statusSelected" placeholder="All" class="admin__manip-field select-container_admin" name="status">
        <md-option ng-repeat="(key, val) in $ctrl.ORDER_STATUSES" value="{{val}}">{{key}}</md-option>
      </md-select>
    </div>
    <div class="admin__manip-section" flex="40" layout="column">
      <label for="dateStartFr" class="admin__manip-label">Order start date</label>
      <div layout="row" class="admin__manip-field">
        <md-datepicker class="admin__datepicker" ng-model="$ctrl.manip.dateStartFr" aria-readonly="true" name="dateStartFrom"></md-datepicker>
        <md-datepicker class="admin__datepicker" ng-model="$ctrl.manip.dateStartTo" aria-readonly="true" name="dateStartTo"></md-datepicker>
      </div>
    </div>
  </div>

  <div class="orders-content" layout="row">
    <div class="orders-list">
      <div class="infinite-scroll-wrapper" infinite-scroll="$ctrl.fetchMoreItems()"
           infinite-scroll-disabled='$ctrl.isOnProgress || $ctrl.isLastPage'
           infinite-scroll-container="'.orders-list'">
        <div class="order" ng-class="{'order_active': $ctrl.orderActiveIndex == $index}" layout="column"
             ng-repeat="order in $ctrl.OrdersService.list"
             ng-click="$ctrl.getOrderDetails($index)">
          <div class="order__content">
            <span class="order-param order-param_date">{{order.createdDt | amDateFormat:'h:mm A, MMM DD (dddd)'}}</span>
            <span class="order-param order-param_name">{{order.customer.first_name}} {{order.customer.last_name}}</span>
          </div>
        </div>
      </div>
    </div>

    <div flex="80">
      <table class="admin__table admin__table_orders table_admin" ng-if="$ctrl.orderActive">
        <tr class="table_admin__row table_admin__row_start">
          <th class=" table_admin__cell table_admin__cell_header" colspan="4">General Information</th>
        </tr>
        <tr class="table_admin__row">
          <td class="table_admin__cell table_admin__cell_label">Creation date</td>
          <td class="table_admin__cell table_admin__cell_label">Location</td>
          <td class="table_admin__cell table_admin__cell_label">Apartment</td>
          <td class="table_admin__cell table_admin__cell_label">Event details and location notes</td>
        </tr>
        <tr class="table_admin__row">
          <td class="table_admin__cell">{{$ctrl.orderActive.createdDt | amDateFormat:'h:mm A, MMM DD'}}</td>
          <td class="table_admin__cell">{{$ctrl.orderActive.location}}</td>
          <td class="table_admin__cell">{{$ctrl.orderActive.apartment}}</td>
          <td class="table_admin__cell">{{$ctrl.orderActive.locationNotes}}</td>
        </tr>
        <tr class="table_admin__row">
          <td class="table_admin__cell table_admin__cell_label">Customer name</td>
          <td class="table_admin__cell table_admin__cell_label">Customer email</td>
          <td class="table_admin__cell table_admin__cell_label">Date of order start</td>
          <td class="table_admin__cell table_admin__cell_label">Service type</td>
        </tr>
        <tr class="table_admin__row">
          <td class="table_admin__cell">{{$ctrl.orderActive.customer.first_name}} {{$ctrl.orderActive.customer.last_name}}</td>
          <td class="table_admin__cell">{{$ctrl.orderActive.customer.email}}</td>
          <td class="table_admin__cell">{{$ctrl.orderActive.asapFlag ? 'ASAP' : ($ctrl.orderActive.datetime | amDateFormat:'h:mm A, MMM DD')}}</td>
          <td class="table_admin__cell">{{$ctrl.orderActive.serviceType.name}}</td>
        </tr>
        <tr class="table_admin__row">
          <td class="table_admin__cell table_admin__cell_label">Length of booking</td>
          <td class="table_admin__cell table_admin__cell_label">Number of invites</td>
          <td class="table_admin__cell table_admin__cell_label">Entertainers</td>
          <td class="table_admin__cell table_admin__cell_label">Guests</td>
        </tr>
        <tr class="table_admin__row">
          <td class="table_admin__cell">{{$ctrl.orderActive.length | hoursToTime}}</td>
          <td class="table_admin__cell">{{$ctrl.orderActive.totalInvites}}</td>
          <td class="table_admin__cell">{{$ctrl.orderActive.entertainers_number}}</td>
          <td class="table_admin__cell">{{$ctrl.orderActive.guestNumber}}</td>
        </tr>
        <tr class="table_admin__row">
          <td class="table_admin__cell table_admin__cell_label">Pre-paid</td>
          <td class="table_admin__cell table_admin__cell_label">Current cost</td>
          <td class="table_admin__cell table_admin__cell_label">Minx system commission</td>
          <td class="table_admin__cell table_admin__cell_label">Stripe</td>
        </tr>
        <tr class="table_admin__row">
          <td class="table_admin__cell table_admin__cell_money">{{$ctrl.orderActive.cost}}</td>
          <td class="table_admin__cell table_admin__cell_money">{{$ctrl.orderActive.finalCost}}</td>
          <td class="table_admin__cell table_admin__cell_money">{{$ctrl.orderActive.comission}}</td>
          <td class="table_admin__cell table_admin__cell_money">{{$ctrl.orderActive.stripeComission}}</td>
        </tr>

        <tr class="table_admin__row table_admin__row_start">
          <th class="table_admin__cell table_admin__cell_header" colspan="4">Invites</th>
        </tr>
        <tr
          class="table_admin__row" ng-repeat-start="invite in $ctrl.orderActive.invites">
          <td class="table_admin__cell table_admin__cell_label">Entertainer name</td>
          <td class="table_admin__cell table_admin__cell_label">Entertainer email</td>
          <td class="table_admin__cell table_admin__cell_label">Creation date</td>
          <td class="table_admin__cell table_admin__cell_label">Actual length</td>
        </tr>
        <tr class="table_admin__row">
          <td class="table_admin__cell">{{invite.provider.displaying_name}}</td>
          <td class="table_admin__cell">{{invite.provider.email}}</td>
          <td class="table_admin__cell">{{invite.createdDt | amDateFormat:'h:mm A, MMM DD'}}</td>
          <td class="table_admin__cell">{{invite.length | hoursToTime: 'seconds'}}</td>
        </tr>
        <tr class="table_admin__row">
          <td class="table_admin__cell table_admin__cell_label">Status</td>
          <td class="table_admin__cell table_admin__cell_label">To entertainer</td>
          <td class="table_admin__cell table_admin__cell_label" colspan="2">Stripe (0.5%)</td>
        </tr>
        <tr class="table_admin__row table_admin__row_end" ng-repeat-end>
          <td class="table_admin__cell">{{invite.status | statusCorrection}}</td>
          <td class="table_admin__cell table_admin__cell_money">
            {{invite.moneyEarned}}
            <span class="attention" ng-if="invite.penalty > 0">(excl. ${{invite.penalty}})</span>
          </td>
          <td class="table_admin__cell table_admin__cell_money" colspan="2">{{invite.stripeComission}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
