// copy paste from MS word convertion of doc to html
.panda-terms {
  color: white;
  font-family: "Open Sans", sans-serif;

  p.MsoNormal,
  li.MsoNormal,
  div.MsoNormal {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 12.0pt;
    margin-left: 0;
    font-size: 12.0pt;
  }
  h1 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 12.0pt;
    margin-left: 0;
    font-size: 12.0pt;
    font-weight: normal;
  }
  h2 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 12.0pt;
    margin-left: 0;
    font-size: 12.0pt;
    font-weight: normal;
  }
  h3 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 12.0pt;
    margin-left: 0;
    font-size: 12.0pt;
    font-weight: normal;
  }
  h4 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 12.0pt;
    margin-left: 0;
    page-break-after: avoid;
    font-size: 12.0pt;
    font-weight: normal;
  }
  h5 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 12.0pt;
    margin-left: 0;
    page-break-after: avoid;
    font-size: 12.0pt;
    font-weight: normal;
  }
  h6 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 12.0pt;
    margin-left: 0;
    font-size: 12.0pt;
    font-weight: normal;
  }
  p.MsoHeading7,
  li.MsoHeading7,
  div.MsoHeading7 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 12.0pt;
    margin-left: 0;
    font-size: 12.0pt;
  }
  p.MsoHeading8,
  li.MsoHeading8,
  div.MsoHeading8 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 12.0pt;
    margin-left: 0;
    font-size: 12.0pt;
  }
  p.MsoHeading9,
  li.MsoHeading9,
  div.MsoHeading9 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 12.0pt;
    margin-left: 0;
    font-size: 12.0pt;
  }
  p.MsoHeader,
  li.MsoHeader,
  div.MsoHeader {
    margin: 0;
    margin-bottom: .0001pt;
    font-size: 12.0pt;
  }
  p.MsoFooter,
  li.MsoFooter,
  div.MsoFooter {
    margin: 0;
    margin-bottom: .0001pt;
    font-size: 12.0pt;
  }
  p.MsoTitle,
  li.MsoTitle,
  div.MsoTitle {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 12.0pt;
    margin-left: 0;
    text-align: center;
    page-break-after: avoid;
    font-size: 12.0pt;
    font-weight: bold;
  }
  p.MsoSignature,
  li.MsoSignature,
  div.MsoSignature {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 12.0pt;
    margin-left: 216.0pt;
    page-break-after: avoid;
    font-size: 12.0pt;
  }
  p.MsoBodyText,
  li.MsoBodyText,
  div.MsoBodyText {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 12.0pt;
    margin-left: 0;
    text-indent: 36.0pt;
    font-size: 12.0pt;
  }
  p.MsoSubtitle,
  li.MsoSubtitle,
  div.MsoSubtitle {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 12.0pt;
    margin-left: 0;
    text-align: center;
    page-break-after: avoid;
    font-size: 12.0pt;
  }
  p.MsoBodyText2,
  li.MsoBodyText2,
  div.MsoBodyText2 {
    margin: 0;
    margin-bottom: .0001pt;
    text-indent: 36.0pt;
    line-height: 200%;
    font-size: 12.0pt;
  }
  p.MsoBlockText,
  li.MsoBlockText,
  div.MsoBlockText {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 12.0pt;
    margin-left: 72.0pt;
    font-size: 12.0pt;
  }
  a:link,
  span.MsoHyperlink {
    color: #57c3e2;
    text-decoration: underline;
  }
  a:visited,
  span.MsoHyperlinkFollowed {
    color: #E5E3E2;
    text-decoration: underline;
  }
  p.MsoAcetate,
  li.MsoAcetate,
  div.MsoAcetate {
    margin: 0;
    margin-bottom: .0001pt;
    font-size: 8.0pt;
  }
  p.MsoNoSpacing,
  li.MsoNoSpacing,
  div.MsoNoSpacing {
    margin: 0;
    margin-bottom: .0001pt;
    font-size: 12.0pt;
  }
  p.MsoListParagraph,
  li.MsoListParagraph,
  div.MsoListParagraph {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 12.0pt;
    margin-left: 36.0pt;
    font-size: 12.0pt;
  }
  p.MsoListParagraphCxSpFirst,
  li.MsoListParagraphCxSpFirst,
  div.MsoListParagraphCxSpFirst {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 36.0pt;
    margin-bottom: .0001pt;
    font-size: 12.0pt;
  }
  p.MsoListParagraphCxSpMiddle,
  li.MsoListParagraphCxSpMiddle,
  div.MsoListParagraphCxSpMiddle {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 36.0pt;
    margin-bottom: .0001pt;
    font-size: 12.0pt;
  }
  p.MsoListParagraphCxSpLast,
  li.MsoListParagraphCxSpLast,
  div.MsoListParagraphCxSpLast {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 12.0pt;
    margin-left: 36.0pt;
    font-size: 12.0pt;
  }
  p.MsoQuote,
  li.MsoQuote,
  div.MsoQuote {
    margin-top: 0;
    margin-right: 72.0pt;
    margin-bottom: 12.0pt;
    margin-left: 72.0pt;
    font-size: 12.0pt;
  }
  p.BodyTextContinued,
  li.BodyTextContinued,
  div.BodyTextContinued {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 12.0pt;
    margin-left: 0;
    font-size: 12.0pt;
  }
  span.TitleChar {
    font-weight: bold;
  }
  .MsoChpDefault {
    font-size: 12.0pt;
  }
  .MsoPapDefault {
    margin-bottom: 12.0pt;
  }
  ol {
    margin-bottom: 0;
  }
  ul {
    margin-bottom: 0;
  }
}
