.input {
  label, .forgot {
    font: 0.938em $open-sans, sans-serif;
    display: inline-block;
    line-height: 24px;
    color: white;
  }

  label {
    margin: 0 0 14px 8px;

    i {
      color: $Cardinal;
    }
  }

  .forgot {
    float: right;
  }

  input {
    background: white;
    border: none;
    width: 100%;
    height: 34px;
    padding: 0 10px;
    display: block;
    outline: none;
    color: black;
    border-radius: 0;
  }

  .error {
    text-align: center;
    display: block;
    margin-top: 10px;
  }

  &:first-child {
    margin-bottom: 13px;
  }
}
