<div class="list future-orders">

  <ul ng-if="$ctrl.history.length">
    <li ng-repeat="order in $ctrl.history">
      <div class="order-status" ng-if="order.active">
        <span class="active">Active order</span>
      </div>
      <div class="order-information">
        <span class="date">
          {{!order.asap ? (order.datetime | amDateFormat:'h:mm A, MMM DD (dddd)') : 'ASAP'}}
        </span>
        <span class="minx">{{$ctrl.OrderService.getProviderById(order.service_type).name}}</span>
        <span class="address">{{order.address}}</span>
        <div layout="row">
          <span flex="15" class="guest">{{order.guests}}</span>
          <span flex="15" class="minx">{{order.provider.length}}</span>
        </div>
        <span class="time">{{order.duration}}</span>
        <div layout="row" class="price">
          <div flex>
            <span class="initial">${{order.initial_price}}</span>
            <p>Initial</p>
          </div>
        </div>
      </div>
      <div class="order-minx">
        <span class="minx" ui-sref="main.minx({type: 'future', id: order.id})">MINX ({{order.provider.length}})</span>
      </div>
    </li>
  </ul>

  <div class="empty-history" ng-if="!$ctrl.history.length">
    <p>You don't have any upcoming orders</p>
  </div>

</div>
