#order-details {
  margin-top: 26px;
  color: white;

  @import "../../components/history/styles/list";

  .list {
    ul {
      list-style: none;

      li {
        margin-bottom: 0;

        span {
          &.cost {
            font: 1.063em $oswald, sans-serif;
          }
        }
      }
    }
  }

}
