.left-side-size,
.right-side-size {
	padding: 0 30px;
}

.left-side-size,
.right-side-size {
	@media (max-width: 960px) {
	  padding-left: 18px;
	  padding-right: 18px;
	}
}

#manipulation-entertainers {
	padding: 52px 0px 40px 0px;

	& > * {
		padding: 0px;
	}

	& > *,
	&__main > * {
		width: 100%;
	}

	.manipulation-entertainers {

		&__header {
			&_left {
				@extend .left-side-size;
			}
		}

		&__icon {
			&_close {
	    	margin: 12px 0 0 0;
	    }
		}

		&__refresh {
			&-image {
				margin-left: 8.5px;
			}
		}

		&__head-link {
			color: $TrolleyGrey;
			font: 15px $oswald;
			letter-spacing: 0.1px;
			line-height: 24px;
			text-align: left;
			&_middle {
				margin-left: 30px;
			}
			&_right {
				text-align: right;
			}
			&_active {
				color: $white;
			}
			&_depends-on-width {
				text-align: left;
				@media (max-width: 960px) {
					text-align: right;
				}
			}
		}

		&__cancel-order {
			border: 1px solid $TrolleyGrey;
			color: $TrolleyGrey;
			font: 15px $oswald;
			margin: 0;
			padding: 8px 16px;
			@media (max-width: 960px) {
				margin-top: 10px;
			}
		}

		&__search-entertainers-wrapper {
			@extend .left-side-size;
		}

		&__confirmed-entertainers-wrapper {
			@extend .right-side-size;
		}
	}
}

@import "search-entertainers.page/search-entertainers.page";
@import "confirmed-entertainers.page.component/confirmed-entertainers.page";
@import "entertainer-protos.modal/entertainer-protos.modal";
