<div
	id="billing"
	class="billing animated fadeIn"
	layout="column">


  <span class="page-name">CREATE ORDER</span>

	<h4 class="personal-information__title">PERSONAL INFORMATION</h4>

	<form
	name="personalInformationForm"
	layout="column"
	class="personal-information-form form_1"
  novalidate>
		<personal-information form-object="personalInformationForm" model="vm.billingInfo"></personal-information>
	</form>

	<h4 class="billing-information__title">BILLING INFORMATION</h4>

	<form
		name="billingInformationForm"
		layout="column"
		class="billing-information-form"
    novalidate>

		<div
			layout="row">
			<div
				class="form_1-field__container"
				layout="column"
				flex="100">
				<label class="form_1__label">Card Number</label>
				<input
					type="number"
					name="card_number"
					class="form_1__input"
					ng-model="vm.card.number"
					required/>
			  <div
			  	ng-messages="billingInformationForm.card_number.$error"
			  	ng-show="billingInformationForm.card_number.$touched"
			  	class="validation-messages"
			  	role="alert">
			    <div ng-messages-include="/app/common/messages/messages.html"></div>
			  </div>
			</div>
		</div>

		<div
			layout="row"
			layout-align="space-between"
			class="form_1__row_2">
			<div
				class="form_1-field__container"
				layout="column"
				flex="50">
				<label class="form_1__label">Expiry</label>
				<input
					type="text"
					name="expiry"
					class="form_1__input"
					ng-model="vm.card.expiry"
					required/>
			  <div
			  	ng-messages="billingInformationForm.expiry.$error"
			  	ng-show="billingInformationForm.expiry.$touched"
			  	class="validation-messages"
			  	role="alert">
			    <div ng-messages-include="/app/common/messages/messages.html"></div>
			  </div>
			</div>
			<div
				class="form_1-field__container"
				layout="column"
				flex="50">
				<label class="form_1__label">CVC</label>
				<input
					type="text"
					name="cvc"
					class="form_1__input"
					ng-model="vm.card.cvc"
					required/>
			  <div
			  	ng-messages="billingInformationForm.cvc.$error"
			  	ng-show="billingInformationForm.cvc.$touched"
			  	class="validation-messages"
			  	role="alert">
			    <div ng-messages-include="/app/common/messages/messages.html"></div>
			  </div>
			</div>
		</div>

	</form>


  <card-list cards="vm.billingInfo.cards"></card-list>
	

	<section
		class="billing__buttons-group"
		layout="row"
		layout-align="space-between">
    <md-button
    	flex="50"
    	class="md-raised form_1__button form_1__button_primary">
    	Cancel
    </md-button>
    <md-button
    	flex="50"
    	class="md-raised md-accent form_1__button"
    	ng-disabled="personalInformationForm.$invalid || billingInformationForm.$invalid"
    	ng-click="vm.saveInfo()">
    	Continue
    </md-button>
	</section>

</div>
