<div
	id="billing"
	class="billing animated fadeIn"
	layout="column">


  <span class="page-name">CREATE ORDER</span>


	<h4 class="personal-information__title">PERSONAL INFORMATION</h4>
	<form
	name="personalInformationForm"
	layout="column"
	class="personal-information-form form_1"
  novalidate>
		<personal-information form-object="personalInformationForm" model="vm.billingInfo"></personal-information>
	</form>


	<h4 class="billing-information__title">BILLING INFORMATION</h4>
	<form
		name="billingInformationForm"
		layout="column"
		class="billing-information-form"
    novalidate>
		<card-info form-object="billingInformationForm" model="vm.newCard"></card-info>
	</form>


  <card-list cards="vm.billingInfo.cards"></card-list>


	<section
		class="billing__buttons-group"
		layout="row"
		layout-align="space-between">
    <md-button
    	flex="50"
    	class="md-raised form_1__button form_1__button_primary">
    	Cancel
    </md-button>
    <md-button
    	flex="50"
    	class="md-raised md-accent form_1__button"
    	ng-disabled="personalInformationForm.$invalid || billingInformationForm.$invalid || vm.saveLoading"
    	ng-click="vm.saveInfo(personalInformationForm, billingInformationForm)">
    	Continue
	    <md-progress-circular 
	    	md-mode="indeterminate" 
	    	md-diameter="30" 
	    	class="md-progress-circular_absolute md-progress-circular_dark"
	    	ng-if="vm.saveLoading">
	    </md-progress-circular>
    </md-button>

	</section>


</div>
