#orderConfirm {
	.font-styles_1 {
		color: $white;
		font: {
			family: $open-sans;
			size: 15px;
			weight: 200;
		}
		letter-spacing: 0.6px;
	}

	$width_main: 80%;

	md-content {
		padding-left: 5%;
		padding-right: 5%;
	}
	.order-information {
		@media (max-width: 960px) {
			padding-left: 31px;
			padding-right: 32px;
		}
		&__header {
			font-family: $oswald;
			font-size: 24px;
			font-weight: 400;
			color: $white;
			letter-spacing: 1.5px;
			margin-top: 23px;
			line-height: 40px;
			text-align: left;
			@media (min-width: 960px) {
				width: $width_main;
			}
		}
		&__descr {
			margin-top: 35px;
		}
		&__cards-container {
			margin-top: 34px;
			margin-bottom: 49px;
			@media (min-width: 960px) {
				width: $width_main;
			}
		}
		&__card {
			background-color: $Charcoal;
			border-radius: 0px;
			margin: 0px;
			padding: 20px;
			&-avatar-img {
				@extend .avatar-bg;
				height: 115px !important;
				max-height: 115px;
				max-width: 82px;
				width: 82px;
			}
			md-card-title {
				padding-top: 0px;
    		padding-bottom: 6px;
			}
			&-name {
				@extend .font-styles_1;
				line-height: 24px;
				text-align: left;
			}
			&-phone {
    		@include getImage('/icons/icon_phone-3x');
				@extend .font-styles_1;
    		background-size: 15px 13px;
				color: $AuroMetalSaurus;
				margin-top: 10px;
    		padding-left: 21px;
			}
			&-info {
				margin-left: 20px;
			}
			&-title {
				padding: 0px;
			}
			&-timer-value {
				color: $AuroMetalSaurus;
			}
			&-canceling {
				@extend .font-styles_1;
				margin-top: 9px;
				letter-spacing: .4px;
				&-message {
					@extend .font-styles_1;
				}
			}
			&-actions {
				margin-bottom: 0;
				margin-left: 0;
				margin-right: 0;
			}
			&-action {
				.md-button {
					min-width: 80px;
				}
			}
			&-block-bottom {
				margin-top: 30px;
			}
			&:not(:first-child) {
				margin-top: 20px;
			}
		}
		&__submit {
			color: $white;
			font: 15px $oswald;
			letter-spacing: 0.1px;
			line-height: 24px;
			margin: 0px;
			padding-bottom: 17px;
			padding-top: 13px;
			text-align: center;
			width: 100%;
			@media (min-width: 960px) {
				width: $width_main;
			}
			&_1 {
				@media (min-width: 960px) {
					width: 100%;
				}
			}
			&-wrapper {
				@media (max-width: 960px) {
					padding-left: 8px;
					padding-right: 7px;
				}
				width: 100%;
			}
		}
	}
}