credentials-inputs {
  display: block;

  .submit-block {
    margin-top: 30px;
    margin-bottom: 23px;

    .ajax-error {
      color: $Cardinal;
      display: block;
      text-align: center;
      margin-top: 23px;
      font: 0.938em $open-sans, sans-serif;
    }
  }

  .input-wrapper {
    margin-bottom: 23px;

    label, .forgot-password-link {
      font: 0.938em $open-sans, sans-serif;
      display: inline-block;
      line-height: 24px;
      color: white;
    }

    label {
      margin: 0 0 3px 8px;
    }

    .forgot-password-link {
      float: right;
      &:hover {
        text-decoration: underline;
      }
    }

    [ng-messages] {
      display: none;
      position: absolute;
      color: $Cardinal;
      line-height: 24px;
      margin: {
        top: 1px;
      }
      font: 0.8em $open-sans, sans-serif;
    }
    input {
      &:focus {
        border: 2px solid $UnitedNationsBlue;
      }
      background: white;
      border: none;
      width: 100%;
      height: 34px;
      padding: 0 10px;
      display: block;
      outline: none;
      color: black;
      border-radius: 0;
      font: 0.938em $open-sans, sans-serif;
      font-weight: 600;
      &.error {
        &:not(:focus) {
          border: 2px solid $Cardinal;
        }
        & + [ng-messages] {
          display: block;
        }
      }
    }
  }
}
