<div class="input-wrapper" ng-if="::!$ctrl.passwordOnly">
  <label>E-mail</label>
  <input type="email" name="email" ng-model="$ctrl.credentials.email" ng-maxlength="100" tabindex="1" required touched-invalid/>
  <div ng-messages="$ctrl.form.email.$error" class="validation-messages animated fadeIn" role="alert">
    <messages></messages>
  </div>
</div>
<div class="input-wrapper" ng-if="::!$ctrl.emailOnly">
  <label>Password</label>
  <a ui-sref="restorePage" class="forgot-password-link" tabindex="2" ng-if="::$ctrl.forgotPasswordLink">Forgot ?</a>
  <input type="password" name="password" ng-maxlength="50" tabindex="3" required ng-model="$ctrl.credentials.password" touched-invalid/>
  <div ng-messages="$ctrl.form.password.$error" class="validation-messages animated fadeIn" role="alert">
    <messages></messages>
  </div>
</div>
<div class="input-wrapper" ng-if="::$ctrl.passwordOnly">
  <label>Repeat password</label>
  <input type="password" name="repeatedPassword" ng-model="$ctrl.repeatedPassword" tabindex="4" repeat-password-equal="password" touched-invalid/>
  <div ng-messages="$ctrl.form.repeatedPassword.$error" class="validation-messages" role="alert">
    <messages></messages>
  </div>
</div>
<div class="submit-block">
  <md-button type="submit" tabindex="5" ng-disabled="$ctrl.form.$submitted && (!$ctrl.form.$valid || $ctrl.loading)" ng-click="$ctrl.submit($event)">
    <spinner input="$ctrl.loading">{{ ::$ctrl.submitTitle }}</spinner>
  </md-button>
  <span class="ajax-error" ng-show="$ctrl.ajaxError">{{ $ctrl.ajaxError }}</span>
</div>
