// base styles
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import "scss/colors";
@import "scss/fonts";
@import "scss/form";
@import "scss/typography";
@import "scss/icons";
@import "scss/angular-cosmetics";
@import "scss/tables";


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	&:focus {
		outline: none;
	}
}

html,
body {
  height: 100%;
  width: 100%
}

a {
  text-decoration: none;
	outline: none;
}

body {
  // browsers default to 16px for font-size,
  // so setting top-level font-size to 62.5%
  // scales 1rem to equal 10px.
	font: 100% 'Oswald', sans-serif;
}

app {
	display: flex;
	min-height: 100%;
	position: relative;
	width: 100%;
	background-color: $primary;

	&.full-height {
		height: 100%;
	}

	#wrapper {
		width: 100%;
		height: 100%;

		main {
			height: 100%;
		}
	}

	@media (max-width: 960px) {
		height: 100%;

		#wrapper {
			main {
				height: auto;
			}
		}
	}
}

.pointer {
	cursor: pointer;
}

.disabled {
	opacity: .5;
}

.photo_active {
	border: 4px solid $Cardinal;
}

.attention {
	color: $Cardinal;
}

@mixin getImage($path) {
  background: url('../assets/images/' + $path + '.png') no-repeat center left;
}

.avatar-bg {
	background: {
		repeat: no-repeat;
		size: cover;
		position: center;
	}
}

// components
@import "./navbar/navbar";
@import "./map/map";
@import "./spinner/spinner";
@import "./findLocation/findLocation";
@import "./orderDetails/orderDetails";
