<form name="dateOfBirth">
  <div class="form-block" ng-if="!$ctrl.ngReadonly">
    <div class="month">
      <input type="text" placeholder="Month" ng-model="$ctrl.month" ng-click="$ctrl.showMenu($event, 'month', $ctrl.months)" ng-blur="$ctrl.parseMonth()">
    </div>
    <div class="day">
      <input type="number" placeholder="Day" ng-model="$ctrl.day" name="day" ng-click="$ctrl.showMenu($event, 'day', $ctrl.days)">
    </div>

    <div class="year">
      <input type="number" placeholder="Year" ng-model="$ctrl.year" name="year" ng-click="$ctrl.showMenu($event, 'year', $ctrl.years)" ng-change="$ctrl.updateDays();$ctrl.setDate()"
             min="{{$ctrl.years[$ctrl.years.length - 1]}}">
    </div>
  </div>
  <div ng-if="$ctrl.ngReadonly">
    <input type="text" value="{{$ctrl.ngModel.$viewValue | readOnlyDate : $ctrl.asObject | date : 'MMM d, yyyy'}}" ng-readonly="true" >
    <!--<span>{{$ctrl.ngModel.$viewValue | readOnlyDate : $ctrl.asObject | date : 'MMM d, yyyy'}}</span>-->
  </div>

</form>
