#admin {
  $ordersContentMinWidth: 914px;
  $ordersTableMinWidth: 631px;

  .font_header {
    color: $DarkJungleGreen;
    font: {
      family: $oswald;
      size: 32px;
    }
    letter-spacing: 0.0588em;
    line-height: 47px;
    text-align: left;
  }

  background-color: $Platinum;
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;

  .main-pages_admin {
    display: block;
    position: relative;
    margin-left: 70px;
  }

  .admin {
		&__page {
			padding: 0px 20px;
      &_orders {
        min-width: $ordersContentMinWidth;
      }
		}

  	&__header {
  		height: 89px;
  		padding-left: 10px;
  	}

  	&__page-name {
			@extend .font_header;
  		margin-bottom: -10px;
			text-transform: uppercase;
  	}

    &__manip {
      &-row {
        margin-top: 27px;
/*         &:not(:first-child) {
          margin-top: 8px;
        } */
      }
      &-text {
        border: none;
        padding: 4px 12px 10px 12px;
        &::-webkit-input-placeholder {
          @extend .font_admin-filter__placeholder;
        }
      }
      &-section {
        &:not(:first-child) {
          margin-left: 10px;
        }
      }
      &-label {
        @extend .font_admin-manip__label;
        margin-left: 10px;
      }
      &-field {
        margin: 3px 0px 0px 0px;
      }
    }
    &__datepicker {
      align-items: center;
      background-color: white;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding-right: 0px;
      &:first-child {
        margin-right: 1px;
      }
      &:not(:first-child) {
        margin-left: 1px;
      }
    }

    &__filter {
      &-name {
        @extend .font_admin-main;
      }
    }

    &__table {
      width: 100%;
      &_orders {
        min-width: $ordersTableMinWidth;
        width: auto;
      }
    }
  }

  /* Angular Material overwritten */
  md-select {
		margin: 0px 0px 0px 22.3px;
  }
  .md-datepicker-triangle-button {
    display: none;
  }
  .md-datepicker-input-container {
    border-bottom: none;
  }
  .md-button.md-icon-button {
    order: 2;
  }
}


md-option {
  ._md-text {
    text-transform: capitalize;
  }
}

@import "orders/orders";