<md-content 
  id="manipulation-entertainers"
  flex="100"
  layout-padding
  layout="column" 
  layout-align="start stretch"
  class="animated fadeIn manipulation-entertainers">

  <div 
    layout="row" 
    layout-align="start"
    class="manipulation-entertainers__header">

    <div flex="100" flex-gt-sm="50" class="manipulation-entertainers__header_left">
      <div 
        layout="row" 
        layout-align="space-between start">
        <h1 class="page-name">Create Order</h1>
        <md-icon 
          flex="1"
          md-svg-icon="/assets/images/icons/svg/Close_Menu.svg" 
          class="manipulation-entertainers__icon_close manipulation-entertainers__icon_close"
          disabled="disabled"></md-icon>
      </div>

      <div 
        class="buttons-group"
        layout="row" 
        layout-align="end center">
        <a
          hide-gt-sm
          class="pointer manipulation-entertainers__head-link"
          ng-class="{'manipulation-entertainers__head-link_active': vm.showComponentOnly.length == 0 || vm.showComponentOnly === 'searchEntertainers'}"
          ng-click="vm.showComponentOnly = 'searchEntertainers'">
          <span>MINX</span>
        </a>
        <a
          flex="60"
          hide-gt-sm
          class="pointer manipulation-entertainers__head-link manipulation-entertainers__head-link_middle"
          ng-class="{'manipulation-entertainers__head-link_active': vm.showComponentOnly === 'confirmedEntertainers'}"
          ng-click="vm.showComponentOnly = 'confirmedEntertainers'">
          <span>CONFIRMATIONS {{vm.entertainersConfirmedCount}}/{{vm.entertainersInvitedCount}}</span>
        </a>
        <a
          flex="30"
          class="pointer manipulation-entertainers__head-link manipulation-entertainers__head-link_right"
          ng-click="vm.OrderService.fetchEntertainers(vm.$stateParams.orderId); vm.itemActiveIndex = 0;">
          <span>REFRESH</span>
          <img
            src="/assets/images/icons/refresh-3x.png" 
            class="icon_medium manipulation-entertainers__refresh-image manipulation-entertainers__icon"></img>
        </a>
      </div>
    </div>
  </div>


  <div
    layout="row" 
    layout-align="start"
    layout-wrap>

    <div flex="100" flex-gt-sm="50" class="manipulation-entertainers__search-entertainers-wrapper">
      <search-entertainers 
        entertainers="vm.entertainers"
        item-active-index="vm.itemActiveIndex"
        flex="100"
        flex-gt-sm="50"
        ng-if="vm.entertainers.length > 0 && (vm.showComponentOnly.length == 0 || vm.showComponentOnly == 'searchEntertainers')">
      </search-entertainers>
      <h2 
        class="no-items-text"
        ng-if="vm.entertainers.length == 0">
        NO ENTARNAINERS ARE AVAILABLE
      </h2>
    </div>

    <div flex="100" flex-gt-sm="50" class="manipulation-entertainers__confirmed-entertainers-wrapper">
      <confirmed-entertainers 
        entertainers="vm.entertainersConfirmed"
        entertainers-invited-count="vm.entertainersInvitedCount"
        ng-if="vm.entertainersConfirmed.length > 0 && (vm.$mdMedia('gt-sm') || vm.showComponentOnly === 'confirmedEntertainers')">
      </confirmed-entertainers>
      <h2 
        class="no-items-text"
        ng-if="vm.entertainersConfirmed.length == 0">
        NO ENTARNAINERS ARE AVAILABLE
      </h2>
    </div>

  </div>

</md-content>
