.order-form {

  width: 100%;
  height: 100%;
  position: relative;
  padding: 52px 30px 0 30px;

  .provider-type {
    color: white;

    div {
      &:last-child {
        button {
          border-right: 0;
        }
      }

      button {
        border-radius: 0;
        margin: 0;
        padding: 0;
        height: 89px;
        width: 100%;
        background: $Charcoal;
        border-right: 2px solid $primary;
        overflow: visible;

        &.active {
          background: -ms-linear-gradient(top left, rgba(24, 95, 221, 1) 0%, rgba(188, 55, 240, 1) 185%);
          background: -moz-linear-gradient(top left, rgba(24, 95, 221, 1) 0%, rgba(188, 55, 240, 1) 185%);
          background: -o-linear-gradient(top left, rgba(24, 95, 221, 1) 0%, rgba(188, 55, 240, 1) 185%);
          background: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(24, 95, 221, 1)), color-stop(185, rgba(188, 55, 240, 1)));
          background: -webkit-linear-gradient(top left, rgba(24, 95, 221, 1) 0%, rgba(188, 55, 240, 1) 185%);
          background: linear-gradient(to bottom right, rgba(24, 95, 221, 1) 0%, rgba(188, 55, 240, 1) 185%);

          &:after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            right: 0;
            margin: auto;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid rgba(24, 95, 221, 1);
          }
        }

        .md-ripple-container {
          border-radius: 0;
        }

        .price, .name {
          position: absolute;
          width: 100%;
        }

        .price {
          top: 11px;
          line-height: 50px;
          font-size: 1.500em;
        }

        .name {
          bottom: 9px;
          line-height: 36px;
          font-size: 1em;
        }
      }
    }
  }

  @import "../../profile/styles/form";

  #profile-form {
    .input {
      max-width: 100%;

      label {
        min-height: 24px;
      }

      md-autocomplete {
        border-radius: 0;
        height: 34px;
        min-width: 100%;
        border-right: 1px solid $primary;

        md-autocomplete-wrap {
          box-shadow: 0 0 0 0;
          height: 34px;

          input {
            padding-right: 25px;
            background: white url('/assets/images/pin.png') no-repeat center right 9px;
          }
        }
      }

      md-datepicker {
        button {
          &.md-datepicker-button {
            display: none;
          }
        }

        .md-datepicker-input-container {
          padding: 0;
          margin: 0;
          width: 100%;
          height: 34px;

          &:focus {
            outline: none;
            border: 0;
          }

          &.md-datepicker-focused {
            border-bottom-width: 0;
          }

          input {
            background: white;
            border-right: 1px solid $primary;
            max-width: 100%;
          }

          button {
            background: url('/assets/images/calendar.png') no-repeat center;
            height: 34px;
            top: 8px;
            right: 16px;
            margin: 0;

            .md-datepicker-expand-triangle {
              display: none;
            }
          }
        }
      }

      md-select {
        background: white;
        margin: 0;
        padding: 0;
        height: 34px;
        border-right: 1px solid $primary;

        md-select-value {
          padding: 0 10px;
          border-bottom: 0;

          ._md-select-icon {
            background: url('/assets/images/drop.png') no-repeat center;
            height: 6px;
            width: 10px;
            margin: 0 3px;

            &:after {
              display: none;
            }
          }
        }
      }

      &.radio {
        margin-top: 30px;

        button {
          margin: 0;
          padding: 0;
          width: 100%;
          height: 54px;
          background: $Charcoal;
          border-radius: 0;
          overflow: visible;

          &.active {
            background: -ms-linear-gradient(top left, rgba(24, 95, 221, 1) 0%, rgba(188, 55, 240, 1) 185%);
            background: -moz-linear-gradient(top left, rgba(24, 95, 221, 1) 0%, rgba(188, 55, 240, 1) 185%);
            background: -o-linear-gradient(top left, rgba(24, 95, 221, 1) 0%, rgba(188, 55, 240, 1) 185%);
            background: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(24, 95, 221, 1)), color-stop(185, rgba(188, 55, 240, 1)));
            background: -webkit-linear-gradient(top left, rgba(24, 95, 221, 1) 0%, rgba(188, 55, 240, 1) 185%);
            background: linear-gradient(to bottom right, rgba(24, 95, 221, 1) 0%, rgba(188, 55, 240, 1) 185%);

            &:after {
              content: '';
              position: absolute;
              bottom: -5px;
              left: 0;
              right: 0;
              margin: auto;
              width: 0;
              height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 5px solid rgba(24, 95, 221, 1);
            }
          }

          .md-ripple-container {
            border-radius: 0;
          }

          &.first {
            border-right: 1px solid $primary;
          }

          label {
            cursor: pointer;
            margin: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            line-height: 54px;
            font: {
              family: $oswald, sans-serif;
              size: 0.938em;
            };
          }

          input {
            cursor: pointer;
            opacity: 0;
          }
        }
      }
    }

    .total {
      margin-top: 30px;
      text-align: center;
      width: 100%;
      height: 54px;
      line-height: 54px;
      color: white;
      border: 1px solid white;
      font-size: 0.938em;
    }

    .submit {
      position: relative;
      bottom: auto;
      margin-top: 30px;
      max-width: 100%;
    }
  }

}
