<div id="change-password" layout-gt-sm="row" class="animated fadeIn">

  <div class="password-container" flex="50">
    <h1 class="page-name">Settings</h1>

    <div class="password-form">
      <h2>Change Password</h2>

      <form name="changePassword" id="profile-form" novalidate>
        <div class="input">
          <label>Old password</label>
          <input type="password"
                 name="oldPassword"
                 ng-model="$ctrl.oldPassword"
                 ng-change="$ctrl.old_passwordError = $ctrl.registerError = false"
                 ng-blur="$ctrl.validate({old_password: changePassword.oldPassword.$viewValue})"
                 ng-class="{error: $ctrl.old_passwordError}"
                 maxlength="50"
                 autocomplete="off"
                 required />
          <span class="error" ng-if="$ctrl.old_passwordError">
            {{$ctrl.old_passwordError}}
          </span>
        </div>
        <div class="input">
          <label>New password</label>
          <input type="password"
                 name="password"
                 ng-model="$ctrl.password"
                 ng-change="$ctrl.passwordError = $ctrl.registerError = false"
                 ng-blur="$ctrl.validate({password: changePassword.password.$viewValue})"
                 ng-class="{error: $ctrl.passwordError}"
                 maxlength="50"
                 autocomplete="off"
                 required />
          <span class="error" ng-if="$ctrl.passwordError">
            {{$ctrl.passwordError}}
          </span>
        </div>
        <div class="input">
          <label>Repeat new password</label>
          <input type="password"
                 name="repeater"
                 ng-model="$ctrl.repeater"
                 ng-change="$ctrl.repeaterError = false"
                 ng-class="{error: $ctrl.repeaterError}"
                 autocomplete="off"
                 maxlength="50"
                 required />
          <span class="error" ng-if="$ctrl.repeaterError">
            {{$ctrl.repeaterError}}
          </span>
        </div>
        <div class="submit">
          <md-button ng-disabled="$ctrl.resetLoading"
                     ng-class="{disabled: $ctrl.resetLoading}"
                     type="submit"
                     ng-click="$ctrl.onChange({
                       old_password: changePassword.oldPassword.$viewValue,
                       password: changePassword.password.$viewValue,
                       repeater: changePassword.repeater.$viewValue
                     })">
            {{!$ctrl.resetLoading ? 'Change password' : ''}}
            <spinner input="$ctrl.resetLoading"></spinner>
          </md-button>
          <span class="error" ng-if="$ctrl.resetError">
            {{$ctrl.resetError}}
          </span>
        </div>
      </form>

    </div>

  </div>

</div>
