<div id="customers" class="admin__page">


	<div 
		layout="column"
		layout-align="end"
		class="admin__header">
		<span class="admin__page-name">Customers</span>		
	</div>


	<div class="admin__manip-row">
		<div 
			layout="row"
			layout-align="start center"
			class="manip-row__block manip-row__block_left">
			<span class="admin__filter-name">Status</span>
      <md-select 
      	ng-model="weapon" 
      	placeholder="Status" 
      	class="select-container_admin">
        <md-option ng-repeat="(key, val) in vm.statuses" value="{{val}}">{{key}}</md-option>
      </md-select>
		</div>
	</div>


	<table 
		class="admin__table table_admin" 
    infinite-scroll="vm.fetchMoreItems()" 
    infinite-scroll-disabled='vm.isOnProgress || vm.isLastPage'>
		<tr 
			class="table_admin__row table_admin__row_start" 
			ng-repeat-start="customer in vm.list">
			<td 
				class="table_admin__cell table_admin__cell_avatar table_admin__cell_rowspaned" 
				rowspan="2">
				<div ng-style="{'background-image': 'url(' + customer.photo.preview + ')'}" alt="{{customer.displaying_name}}"></div>
			</td>
			<td
				class="table_admin__cell table_admin__cell_label">
				Status
			</td>
			<td 
				class="table_admin__cell table_admin__cell_status">
				<span class="table_admin__cell_status-icon table_admin__cell_status-icon-{{customer.status}}"></span>
				<span class="table_admin__cell_status-value">{{customer.status}}</span>
			</td>
			<td
				class="table_admin__cell table_admin__cell_label">
				Email
			</td>
			<td 
				class="table_admin__cell">
				{{customer.email}}
			</td>
			<td
				class="table_admin__cell table_admin__cell_label">
				Raiting
			</td>
			<td 
				class="table_admin__cell">
				{{customer.rating}}
			</td>
			<td 
				class="table_admin__cell table_admin__cell_actions">
  			<img 
  					ng-if="customer.status == vm.statuses.active" 
  					src="/assets/images/icons/admin/icon_block.png" 
  					ng-click="vm.CustomersService.setStatus($event, customer, vm.statuses.unblocked, true)"
  					title="Block"
  					alt="Block">

 				<img 
 					ng-if="customer.status == vm.statuses.blocked" 
 					src="/assets/images/icons/admin/icon_unblock.png" 
 					ng-click="vm.CustomersService.setStatus($event, customer, vm.statuses.active, true)"
 					title="Unblock"
 					alt="Unblock">

			</td>
		</tr>		
		<tr 
			class="table_admin__row table_admin__row_end"
			ng-repeat-end>
			<td
				class="table_admin__cell table_admin__cell_label">
				Name
			</td>
			<td 
				class="table_admin__cell">
				{{customer.first_name}} {{customer.last_name}}
			</td>
			<td
				class="table_admin__cell table_admin__cell_label">
				Phone
			</td>
			<td 
				class="table_admin__cell">
				{{customer.phone}}
			</td>
			<td class="table_admin__cell_rowspaned"></td><td class="table_admin__cell_rowspaned"></td><td class="table_admin__cell_rowspaned"></td>
		</tr>		
	</table>


</div>
