<md-content flex layout-padding md-colors="{color:'primary-50'}">
	<h1>PROFILE</h1>

  <form name="profileForm">

		<div>
			<div>Add photo</div>
			<md-button class="md-fab" aria-label="Mini FAB">
			  <md-icon md-svg-src="/assets/images/icons/svg/ic_add_white.svg"></md-icon>
			</md-button>
		</div>

		<div layout="row">
      <md-input-container>
        <label class="md-no-float">First Name</label>
        <input type="text" ng-model="user.first_name">
      </md-input-container>
      <md-input-container>
        <label class="md-no-float">Second Name</label>
        <input type="text" ng-model="user.second_name">
      </md-input-container>
    </div>

		<div layout="row">
			<label class="md-no-float">Mobile Number</label>
		</div>
		<div layout="row">
      <md-input-container flex="20">
        <input type="text" ng-model="user.first_name">
      </md-input-container>
      <md-input-container flex="80">
        <input type="text" ng-model="user.second_name">
      </md-input-container>
    </div>

  </form>

<md-content/>
