<div class="list past-orders">

  <ul>
    <li>
      <div class="order-information">
        <span class="date">11:30 PM, Aug 2 (Monday)</span>
        <span class="minx">Party Girl</span>
        <span class="address">Santa Monica Fwy 1110</span>
        <div layout="row">
          <span flex="15" class="guest">3</span>
          <span flex="15" class="minx">5</span>
        </div>
        <span class="time">1h 30m</span>
        <div layout="row" class="price">
          <div flex>
            <span class="initial">$250</span>
            <p>Initial</p>
          </div>
          <div flex>
            <span class="final">$250</span>
            <p>Final</p>
          </div>
        </div>
      </div>
      <div class="order-minx">
        <span class="minx">MINX (5)</span>
      </div>
    </li>
    <li>
      <div class="order-information">
        <span class="date">11:30 PM, Aug 2 (Monday)</span>
        <span class="minx">Party Girl</span>
        <span class="address">Santa Monica Fwy 1110</span>
        <div layout="row">
          <span flex="15" class="guest">3</span>
          <span flex="15" class="minx">5</span>
        </div>
        <span class="time">1h 30m</span>
        <div layout="row" class="price">
          <div flex>
            <span class="initial">$250</span>
            <p>Initial</p>
          </div>
          <div flex>
            <span class="final">$250</span>
            <p>Final</p>
          </div>
        </div>
      </div>
      <div class="order-minx">
        <span class="minx">MINX (5)</span>
      </div>
    </li>
    <li>
      <div class="order-information">
        <span class="date">11:30 PM, Aug 2 (Monday)</span>
        <span class="minx">Party Girl</span>
        <span class="address">Santa Monica Fwy 1110</span>
        <div layout="row">
          <span flex="15" class="guest">3</span>
          <span flex="15" class="minx">5</span>
        </div>
        <span class="time">1h 30m</span>
        <div layout="row" class="price">
          <div flex>
            <span class="initial">$250</span>
            <p>Initial</p>
          </div>
          <div flex>
            <span class="final">$250</span>
            <p>Final</p>
          </div>
        </div>
      </div>
      <div class="order-minx">
        <span class="minx">MINX (5)</span>
      </div>
    </li>
  </ul>

</div>
