<div id="history-minx" layout-gt-sm="row" class="animated fadeIn">

  <div class="history-container" flex="50">
    <h1 class="page-name">Orders</h1>

    <div class="minx-back">
      <button ui-sref="main.history({type: $ctrl.type})">
        Other MINX ({{$ctrl.order.entertainers_number}})
      </button>
    </div>

    <div class="minx-list">
      <ul>
        <li ng-repeat="invite in $ctrl.order.invites" layout="row" layout-align="space-between">
          <div class="minx-img" flex="20" ng-style="">
            <div ng-style="{'background-image': 'url(' + invite.provider.photos[0].preview + ')'}" alt="{{invite.provider.displaying_name}}"/></div>
          </div>
          <div class="minx-info" flex="75">
            <span class="name">{{invite.provider.displaying_name}}</span>
            <span class="cancel" ng-if="invite.status == $ctrl.Constants.order.statuses.canceledbyCustomer">Cancelled by me</span>
            <span class="cancel" ng-if="invite.status == $ctrl.Constants.order.statuses.canceledbyProvider">Cancelled</span>
            <span class="duration">{{invite.length | hoursToTime: 'seconds'}}</span>
            <span class="price">${{invite.finalPrice}}</span>
          </div>
        </li>
      </ul>
    </div>

  </div>

</div>
